## Import given data

In [26]:
import pandas as pd
import numpy as np
import json
import re

import matplotlib.pyplot as plt

In [ ]:
## import initial data
filtrato = pd.read_csv('input/storico_filtrato.csv', decimal=',')
ordini = pd.read_csv('input/storico_ordini.csv')
pianificazione = pd.read_csv('input/storico_pianificazione.csv')

## EDA on Given datasets

### lista_articoli.csv

cod_articolo $\times$ caratteristiche

In [ ]:
articoli = pd.read_csv('/input/lista_articoli.csv', decimal=',')      # add dtype={'programma ribobinatura S': np.int64}?

articoli.info()
articoli.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   codarticolo               616 non-null    object
 1   descrizione               616 non-null    object
 2   anima                     616 non-null    object
 3   copertura                 616 non-null    object
 4   spire_reali               616 non-null    int64
 5   velocita calcolata        616 non-null    int64
 6   kg_ora                    616 non-null    float64
 7   spandex                   616 non-null    float64
 8   ciclo                     616 non-null    object
 9   no_cicli                  616 non-null    int64
 10  ore_levata                616 non-null    float64
 11  Divisore                  57 non-null     float64
 12  peso elastomero           558 non-null    float64
 13  Peso spola                580 non-null    float64
 14  programma ribobinatura S  152 non-null    object
 15  programma ribobinatura Z  568 non-null    object
 16  programma termofissaggio  94 non-null     float64
 17  kw tempo                  23 non-null     object
 18  kw percentuale            23 non-null     float64
 19  fine validita             0 non-null      float64
dtypes: float64(9), int64(3), object(8)
memory usage: 96.4+ KB

,codarticolo,descrizione,anima,copertura,spire_reali,velocita calcolata,kg_ora,spandex,ciclo,no_cicli,ore_levata,Divisore,peso elastomero,Peso spola,programma ribobinatura S,programma ribobinatura Z,programma termofissaggio,kw tempo,kw percentuale,fine validita
0,10353ZF,"Ly 78/44f13 Z tpm 1100 st. 2,6 (CG)",Lycra 78 162C,44f13 test. S PA 66,1050,17200,1.87,2.76,2 x 4 gg (192),2,96.0,NaN,530.0,435.0,NaN,25,4.0,NaN,NaN,NaN
1,10369ZF/2013,"Cr 44/78f18 Z tpm 600 st. 3,7 (DH)",Creora 44 H350,78f18 Z PA 6 vari colori,600,13200,3.15,1.49,5 x 3 gg + 4 h (378),5,75.6,NaN,550.0,803.0,NaN,41,6.0,NaN,NaN,NaN
2,10369ZF2,"Cr 44/78f18 Z tpm 600 st. 3,7 (DH)",Creora 44 H350,78f18 Z PA 6 francia e nero,600,13200,3.15,1.49,5 x 3 gg + 4 h (378),5,75.6,NaN,550.0,803.0,NaN,41,11.0,NaN,NaN,NaN
3,10985ZF,"Ly44/78f68 Z tpm 1000 st. 3,3 (DD)",Lycra 44 162C,78f68 test. S PA 66,960,13500,2.05,1.10,4 x 4 gg + 22 h (472),4,118.0,NaN,517.0,820.0,NaN,41,11.0,NaN,NaN,NaN
4,10985ZF spole 880 gr,"Ly44/78f68 Z tpm 1000 st. 3,3 (DD)",Lycra 44 162C,78f68 test. S PA 66,960,12300,1.87,1.00,3 x 5 gg + 19 h (417) 420 gr lycra,3,139.0,NaN,517.0,880.0,NaN,41,11.0,NaN,NaN,NaN

#### Controllo totale ore

In [29]:
df = articoli.copy()

## add totale ore
df = df.loc[:, ["codarticolo", "ciclo", "no_cicli", "ore_levata"]]

# check ore
df['totale_ore descritto'] = df['ciclo'].str.extract(r'\(( *\d+(?:,\d+)*)\)')
df['totale_ore descritto'] = df['totale_ore descritto'].str.replace(',', '.').astype(float)

df['totale_ore'] = df['no_cicli'] * df['ore_levata']
df['verifica ore'] = np.equal(df['no_cicli'] * df['ore_levata'], df['totale_ore descritto'])
df['differenza ore'] = np.sqrt((df['totale_ore'] - df['totale_ore descritto'].where(df['totale_ore descritto'].notna(), 0).astype(int))**2)

average_percentage = (df['verifica ore'].sum() / df['verifica ore'].count()) * 100
print(f"Totale ore in Ciclo e totale ore calcolate con ore_levata * no_cicli combaciano nel: \n{average_percentage:.2f}%")

df.head()

Totale ore in Ciclo e totale ore calcolate con ore_levata * no_cicli combaciano nel:
56.66%

,codarticolo,ciclo,no_cicli,ore_levata,totale_ore descritto,totale_ore,verifica ore,differenza ore
0,10353ZF,2 x 4 gg (192),2,96.0,192.0,192.0,True,0.0
1,10369ZF/2013,5 x 3 gg + 4 h (378),5,75.6,378.0,378.0,True,0.0
2,10369ZF2,5 x 3 gg + 4 h (378),5,75.6,378.0,378.0,True,0.0
3,10985ZF,4 x 4 gg + 22 h (472),4,118.0,472.0,472.0,True,0.0
4,10985ZF spole 880 gr,3 x 5 gg + 19 h (417) 420 gr lycra,3,139.0,417.0,417.0,True,0.0

Per visualizzare le righe ambigue modificare epsilon (tolleranza):

In [30]:
epsilon = 10      # minimo differenza
ambiguo = df[df['verifica ore'] == False].where((np.sqrt(df['differenza ore'] ** 2)) > epsilon).dropna(subset=['codarticolo'])

tot = df.shape[0]
amb = ambiguo.shape[0]
print(f"Totale righe: {tot}")
print(f"Righe ambigue: {amb}")
print(f"Percentuale righe ambigue: {(amb/tot * 100):.2f}%")

ambiguo

Totale righe: 616
Righe ambigue: 34
Percentuale righe ambigue: 5.52%

,codarticolo,ciclo,no_cicli,ore_levata,totale_ore descritto,totale_ore,verifica ore,differenza ore
30,15613DN1,1 x 18 gg (432) /2,2.0,429.00,432.0,858.00,False,426.00
44,1723ZN1,6 x 5 gg + 22 h (850),4.0,169.00,850.0,676.00,False,174.00
45,1723ZN2,6 x 5 gg + 22 h (850),4.0,169.00,850.0,676.00,False,174.00
59,20098DN,5 x 1 gg + 22 h (230),3.0,46.00,230.0,138.00,False,92.00
60,20098DN-VARI COL,5 x 1 gg + 22 h (230),3.0,46.00,230.0,138.00,False,92.00
74,2221ZN,10 x 3 gg (725),3.0,24.16,725.0,72.48,False,652.52
102,2254ZN-11400,4 x 6 gg + 17 h (464),4.0,161.00,464.0,644.00,False,180.00
191,31004DN220379,2 x 3 gg + 20 h (92)/2,2.0,92.00,92.0,184.00,False,92.00
192,31004DN220379 dm84,4 x 1 gg + 22 h (92),4.0,46.00,92.0,184.00,False,92.00
210,4405S+ZN,2 x 14 gg + 10 h (692),1.0,346.00,692.0,346.00,False,346.00
211,4405SN,2 x 14 gg + 10 h (692),1.0,346.00,692.0,346.00,False,346.00
212,4405ZN,2 x 14 gg + 10 h (692),1.0,346.00,692.0,346.00,False,346.00
265,62002DN2,1 x 4 gg (96) /2,1.0,48.00,96.0,48.00,False,48.00
281,749DN,2 x 17 gg + 21 h (431),2.0,431.00,431.0,862.00,False,431.00
282,749DN mini,2 x 17 gg + 21 h (431),2.0,431.00,431.0,862.00,False,431.00
287,94001DN2,156,3.0,13.00,NaN,39.00,False,39.00
353,S20-60076V2DN,1 x 12 h,1.0,12.00,NaN,12.00,False,12.00
368,S600A03DN,2x 18 h,2.0,18.00,NaN,36.00,False,36.00
369,S600A04DN,2x 18 h,2.0,18.00,NaN,36.00,False,36.00
424,X18-15601DN,2 x 8 gg + 17 h (417),2.0,193.00,417.0,386.00,False,31.00
470,X21-15696V8DN,1 x 18 gg (432),2.0,429.00,432.0,858.00,False,426.00
522,X22-2005V2ZN vari co,5 x 2 gg + 21 h (347),2.0,69.00,347.0,138.00,False,209.00
523,X22-2005V2ZN1,5 x 2 gg + 21 h (347),2.0,69.00,347.0,138.00,False,209.00
524,X22-2005V2ZN2100,5 x 2 gg + 21 h (347),2.0,69.00,347.0,138.00,False,209.00
525,X22-2005ZNV2-3248,2 x 9 gg + 20 h (473),2.0,70.00,473.0,140.00,False,333.00
531,X22-31002V7DN_1,2 x 3 gg + 20 h (92)/2,2.0,184.00,92.0,368.00,False,276.00
532,X22-31002V7DN1018,2 x 3 gg + 20 h (92)/2,2.0,92.00,92.0,184.00,False,92.00
537,X22-4405S+ZN,3 x 4 gg + 20 h (350),3.0,87.50,350.0,262.50,False,87.50
538,X22-4405SN,3 x 4 gg + 20 h (350),3.0,87.50,350.0,262.50,False,87.50
539,X22-4405ZN,3 x 4 gg + 20 h (350),3.0,87.50,350.0,262.50,False,87.50
565,X23-2299ZF,7 x 2 gg + 1 h (347),7.0,48.00,347.0,336.00,False,11.00
571,X23-39597DN-114800,3 x 1 gg + 13 h (112) /2,3.0,112.00,112.0,336.00,False,224.00
572,X23-39598DN,2 x 2 gg + 22 h (70),2.0,70.00,70.0,140.00,False,70.00
573,X23-39598DN2999,2 x 2 gg + 22 h (70),2.0,70.00,70.0,140.00,False,70.00

##### Controllo numero cicli

In [31]:
# check cicli
df['no_cicli descritto'] = df['ciclo'].str.extract(r'(\d{0,2})').astype(int)
df['differenza cicli'] = df['no_cicli'] - df['no_cicli descritto']
df['verifica cicli'] = np.equal(df['no_cicli descritto'], df['no_cicli'])

average = (df['verifica cicli'].sum() / df['verifica cicli'].count())*100

print(f"no_cicli combaciano nel {average:.2f}%")
df[df['verifica cicli'] == False]

no_cicli combaciano nel 94.81%

,codarticolo,ciclo,no_cicli,ore_levata,totale_ore descritto,totale_ore,verifica ore,differenza ore,no_cicli descritto,differenza cicli,verifica cicli
9,11007SF 3 cicli,2 x 16 gg (1154),3,385.00,1154.0,1155.00,False,1.00,2,1,False
11,11011ZF2,7 x 8 gg (1345),6,224.17,1345.0,1345.02,False,0.02,7,-1,False
28,15611DN,2 x 2 gg + 23 h (141) /2,4,35.25,141.0,141.00,True,0.00,2,2,False
30,15613DN1,1 x 18 gg (432) /2,2,429.00,432.0,858.00,False,426.00,1,1,False
44,1723ZN1,6 x 5 gg + 22 h (850),4,169.00,850.0,676.00,False,174.00,6,-2,False
45,1723ZN2,6 x 5 gg + 22 h (850),4,169.00,850.0,676.00,False,174.00,6,-2,False
59,20098DN,5 x 1 gg + 22 h (230),3,46.00,230.0,138.00,False,92.00,5,-2,False
60,20098DN-VARI COL,5 x 1 gg + 22 h (230),3,46.00,230.0,138.00,False,92.00,5,-2,False
74,2221ZN,10 x 3 gg (725),3,24.16,725.0,72.48,False,652.52,10,-7,False
117,2269ZF2,5 x 5 gg + 21 h (706),4,176.50,706.0,706.00,True,0.00,5,-1,False
118,2269ZN/F2,5 x 5 gg + 21 h (706),4,176.50,706.0,706.00,True,0.00,5,-1,False
119,2269ZN2,5 x 5 gg + 21 h (706),4,176.50,706.0,706.00,True,0.00,5,-1,False
153,23502DN-150053,2 x 3 gg + 18 h (181) /2,4,45.25,181.0,181.00,True,0.00,2,2,False
154,23502DN-9025,2 x 3 gg + 18 h (181) /2,4,45.25,181.0,181.00,True,0.00,2,2,False
155,23502DN-T0001,2 x 3 gg + 18 h (181) /2,4,45.25,181.0,181.00,True,0.00,2,2,False
187,31002DN1,1 x 5 gg + 20 h (140) /2,2,70.00,140.0,140.00,True,0.00,1,1,False
210,4405S+ZN,2 x 14 gg + 10 h (692),1,346.00,692.0,346.00,False,346.00,2,-1,False
211,4405SN,2 x 14 gg + 10 h (692),1,346.00,692.0,346.00,False,346.00,2,-1,False
212,4405ZN,2 x 14 gg + 10 h (692),1,346.00,692.0,346.00,False,346.00,2,-1,False
264,62002DN,1 x 4 gg (96) /2,2,48.00,96.0,96.00,True,0.00,1,1,False
287,94001DN2,156,3,13.00,NaN,39.00,False,39.00,15,-12,False
314,S15-60008V2DN2,2 x 1 gg + 19 h (43),1,43.00,43.0,43.00,True,0.00,2,-1,False
315,S15-60008V3DN2,2 x 1 gg + 22 h (46),1,46.00,46.0,46.00,True,0.00,2,-1,False
316,S15-60008V3DNcolorat,2 x 1 gg + 22 h (46),1,46.00,46.0,46.00,True,0.00,2,-1,False
341,S19-200021DN,12h,1,7.50,NaN,7.50,False,7.50,12,-11,False
385,X15-15696DN,2 x 2 gg + 23 h (141) /2,4,35.25,141.0,141.00,True,0.00,2,2,False
432,X18-31005ZN,2 x 3 gg + 4 h (153),1,153.00,153.0,153.00,True,0.00,2,-1,False
440,X18-7803ZN,4 x 3 gg + 17 h (357),3,119.00,357.0,357.00,True,0.00,4,-1,False
470,X21-15696V8DN,1 x 18 gg (432),2,429.00,432.0,858.00,False,426.00,1,1,False
522,X22-2005V2ZN vari co,5 x 2 gg + 21 h (347),2,69.00,347.0,138.00,False,209.00,5,-3,False
523,X22-2005V2ZN1,5 x 2 gg + 21 h (347),2,69.00,347.0,138.00,False,209.00,5,-3,False
524,X22-2005V2ZN2100,5 x 2 gg + 21 h (347),2,69.00,347.0,138.00,False,209.00,5,-3,False

In alcuni casi i cicli sono diversi ma le ore sono uguali:

In [32]:
ambiguo = df[(df['verifica cicli'] == False) & (df['verifica ore'] == True)]
ambiguo.loc[:, ['codarticolo',  'ciclo', 'no_cicli','no_cicli descritto', 'ore_levata', 'totale_ore', 'totale_ore descritto', 'verifica ore', 'verifica cicli']]

,codarticolo,ciclo,no_cicli,no_cicli descritto,ore_levata,totale_ore,totale_ore descritto,verifica ore,verifica cicli
28,15611DN,2 x 2 gg + 23 h (141) /2,4,2,35.25,141.0,141.0,True,False
117,2269ZF2,5 x 5 gg + 21 h (706),4,5,176.50,706.0,706.0,True,False
118,2269ZN/F2,5 x 5 gg + 21 h (706),4,5,176.50,706.0,706.0,True,False
119,2269ZN2,5 x 5 gg + 21 h (706),4,5,176.50,706.0,706.0,True,False
153,23502DN-150053,2 x 3 gg + 18 h (181) /2,4,2,45.25,181.0,181.0,True,False
154,23502DN-9025,2 x 3 gg + 18 h (181) /2,4,2,45.25,181.0,181.0,True,False
155,23502DN-T0001,2 x 3 gg + 18 h (181) /2,4,2,45.25,181.0,181.0,True,False
187,31002DN1,1 x 5 gg + 20 h (140) /2,2,1,70.00,140.0,140.0,True,False
264,62002DN,1 x 4 gg (96) /2,2,1,48.00,96.0,96.0,True,False
314,S15-60008V2DN2,2 x 1 gg + 19 h (43),1,2,43.00,43.0,43.0,True,False
315,S15-60008V3DN2,2 x 1 gg + 22 h (46),1,2,46.00,46.0,46.0,True,False
316,S15-60008V3DNcolorat,2 x 1 gg + 22 h (46),1,2,46.00,46.0,46.0,True,False
385,X15-15696DN,2 x 2 gg + 23 h (141) /2,4,2,35.25,141.0,141.0,True,False
432,X18-31005ZN,2 x 3 gg + 4 h (153),1,2,153.00,153.0,153.0,True,False
440,X18-7803ZN,4 x 3 gg + 17 h (357),3,4,119.00,357.0,357.0,True,False

Vedo cosa cambia usando 'no_cicli' (v1) o 'no_cicli descritto' (v2):

In [33]:
tolleranza = 10

df['totale_ore v2'] = df['no_cicli descritto'] * df['ore_levata']
df['differenza ore v2'] = np.sqrt((df['totale_ore descritto'] - df['totale_ore v2'])**2)

v1 = df.where(df['differenza ore'] > tolleranza).dropna(subset='codarticolo')
v2 = df.where(df['differenza ore v2'] > tolleranza).dropna(subset='codarticolo')

print(f"v1.len = {v1.shape[0]}")
print(f"v2.len = {v2.shape[0]}")

v1.len = 34
v2.len = 37

$\implies$ non cambia praticamente nulla, anzi peggiora $\implies$ uso 'no_cicli'

##### Dataset valido

In [34]:
# ok = df[(df['verifica ore'] == True) & df['verifica cicli'] == True]
tolleranza = 10
ok = df[(df['differenza ore'] < tolleranza)] 

print(f"numero righe originarie: {df.shape[0]}")
print(f"numero righe non ambigue: {ok.shape[0]}")
print(f"percentuale dataset valido: {(ok.shape[0] / df.shape[0])*100:.2f}%")

numero righe originarie: 616
numero righe non ambigue: 581
percentuale dataset valido: 94.32%

#### Add totale kg

Per aggiungere totale kg abbiamo bisogno delle *ore_totale* veritiere $\implies$ per ora consideriamo solo dataset valido

In [35]:
valid = articoli.where(articoli['codarticolo'].isin(ok['codarticolo'])).dropna(subset='codarticolo')
print(f"n_righe: {valid.shape[0]}")

df = valid

## add totale kg
df['totale_ore'] = df['ore_levata'] * df['no_cicli']
df['totale_kg'] = df['totale_ore'] * df['kg_ora']
df.head()

n_righe: 581

,codarticolo,descrizione,anima,copertura,spire_reali,velocita calcolata,kg_ora,spandex,ciclo,no_cicli,...,peso elastomero,Peso spola,programma ribobinatura S,programma ribobinatura Z,programma termofissaggio,kw tempo,kw percentuale,fine validita,totale_ore,totale_kg
0,10353ZF,"Ly 78/44f13 Z tpm 1100 st. 2,6 (CG)",Lycra 78 162C,44f13 test. S PA 66,1050.0,17200.0,1.87,2.76,2 x 4 gg (192),2.0,...,530.0,435.0,NaN,25,4.0,NaN,NaN,NaN,192.0,359.04
1,10369ZF/2013,"Cr 44/78f18 Z tpm 600 st. 3,7 (DH)",Creora 44 H350,78f18 Z PA 6 vari colori,600.0,13200.0,3.15,1.49,5 x 3 gg + 4 h (378),5.0,...,550.0,803.0,NaN,41,6.0,NaN,NaN,NaN,378.0,1190.70
2,10369ZF2,"Cr 44/78f18 Z tpm 600 st. 3,7 (DH)",Creora 44 H350,78f18 Z PA 6 francia e nero,600.0,13200.0,3.15,1.49,5 x 3 gg + 4 h (378),5.0,...,550.0,803.0,NaN,41,11.0,NaN,NaN,NaN,378.0,1190.70
3,10985ZF,"Ly44/78f68 Z tpm 1000 st. 3,3 (DD)",Lycra 44 162C,78f68 test. S PA 66,960.0,13500.0,2.05,1.10,4 x 4 gg + 22 h (472),4.0,...,517.0,820.0,NaN,41,11.0,NaN,NaN,NaN,472.0,967.60
4,10985ZF spole 880 gr,"Ly44/78f68 Z tpm 1000 st. 3,3 (DD)",Lycra 44 162C,78f68 test. S PA 66,960.0,12300.0,1.87,1.00,3 x 5 gg + 19 h (417) 420 gr lycra,3.0,...,517.0,880.0,NaN,41,11.0,NaN,NaN,NaN,417.0,779.79

#### Add consumo energetico

In [36]:
## add consume energetico
print(f"Abbiamo dati del consumo energito per {df['kw tempo'].notna().sum()} righe su {valid.shape[0]} totali.")
df[df['kw percentuale'].notna()].head()

Abbiamo dati del consumo energito per 23 righe su 581 totali.

,codarticolo,descrizione,anima,copertura,spire_reali,velocita calcolata,kg_ora,spandex,ciclo,no_cicli,...,peso elastomero,Peso spola,programma ribobinatura S,programma ribobinatura Z,programma termofissaggio,kw tempo,kw percentuale,fine validita,totale_ore,totale_kg
16,13005ZF-14000,"Ly130/33f20 Z tpm 900 st. 4,2 (EC)",Lycra 130 902C,33f20 parallelo PA 66,855.0,14000.0,1.60,2.96,3 x 4 gg + 22 h (345),3.0,...,1046.0,390.0,NaN,26,11.0,05:00:00,1.0,NaN,354.0,566.400
17,13005ZF-600gr,"Ly130/33f20 Z tpm 900 st. 4,2 (EC)",Lycra 130 902C,33f20 parallelo PA 66,855.0,14500.0,1.69,3.07,2 x 4 gg (192),2.0,...,1046.0,370.0,NaN,26,11.0,05:00:00,1.0,NaN,192.0,324.480
18,13005ZF 17600,"Ly130/33f20 Z tpm 900 st. 4,2 (EC)",Lycra 130 902C,33f20 parallelo PA 66,855.0,18000.0,2.09,3.80,3 x 3 gg + 21 h (277),3.0,...,1046.0,420.0,NaN,26,11.0,05:00:00,1.0,NaN,276.9,578.721
20,13007Z,"Ly130/33f20 Z tpm 900 st. 4,2 (EC)",Lycra 130 902C,33f20 test. S PA 66,900.0,18000.0,2.09,3.80,3 x 3 gg + 21 h (277),3.0,...,1046.0,420.0,NaN,26,11.0,05:00:00,1.0,NaN,276.9,578.721
21,13007ZF 903C 14000,"Ly130/33f20 Z tpm 900 st. 4,2 (EC)",Lycra 130 903C,33f20 test. S PA 66,900.0,14000.0,1.59,2.94,3 x 4 gg + 19 h (346),3.0,...,1020.0,380.0,NaN,19,11.0,05:00:00,1.0,NaN,345.0,548.550

#### Chiarimenti

Non è chiaro come procedere quando:
- in ciclo è presente **/2**
- totale ore calcolate e ore in *ciclo* non combaciano
- no_cicli e no_cicli in *ciclo* non combaciano
- totale ore combaciano ma no_cicli no
- *ciclo* non segue il patern: **no_cicli $\times$ n_giorni + n_ore**

Inoltre:
- a cosa servono *kw_tempo* e *kw_percentuale*?

In [ ]:
# Save valid dataset
valid.to_csv('valid/lista_articoli.csv', index=False)

### storico_filtrato.csv

articolo $\times$ dati dalle macchine

In [ ]:
# filtrato = pd.read_csv('input/storico_filtrato.csv', decimal=',')
filtrato = pd.read_csv('input/storico_Lemur.csv', decimal=',')

filtrato.info()
filtrato.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7640 entries, 0 to 7639
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   N° MC                        4 non-null      object
 1   Unnamed: 1                   45 non-null     object
 2   Unnamed: 2                   7636 non-null   object
 3   Unnamed: 3                   7595 non-null   float64
 4   cod articolo                 7175 non-null   object
 5   descrizione                  7175 non-null   object
 6   N° fusi reali                1342 non-null   float64
 7   velocita fusi inferiori      7167 non-null   float64
 8   data ora partenza            7595 non-null   object
 9   data ora fine                7518 non-null   object
 10  data ora fine manuale        1605 non-null   object
 11  ore lavorate dalla partenza  6909 non-null   float64
 12  KWh assorbiti                6909 non-null   float64
 13  KW medi                      6909 non-null   float64
 14  produzione [kg]              7176 non-null   float64
 15  KWh/Kg                       6657 non-null   float64
 16  €/Kg                         6157 non-null   float64
 17  note                         3939 non-null   object
 18  N° scheda                    802 non-null    object
dtypes: float64(9), object(10)
memory usage: 1.1+ MB

,N° MC,Unnamed: 1,Unnamed: 2,Unnamed: 3,cod articolo,descrizione,N° fusi reali,velocita fusi inferiori,data ora partenza,data ora fine,data ora fine manuale,ore lavorate dalla partenza,KWh assorbiti,KW medi,produzione [kg],KWh/Kg,€/Kg,note,N° scheda
0,-,Anno Inizio : 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,-,Mese Inizio : 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,+,10.0,2271DN 22000,"K22/8f5 dc tpm 3000 st. 2,8 (CI)",NaN,NaN,30/06/2021 22:17:01,24/07/2021 10:17:01,NaN,614.38,10288.63,16.7464,173.64,59.25,6.52,da ferma-minispole\n,NaN
3,NaN,NaN,+,44.0,NaN,NaN,NaN,20200.0,29/06/2021 08:00:00,09/07/2021 02:00:00,NaN,NaN,NaN,NaN,0.00,NaN,NaN,da ferma ...,NaN
4,NaN,-,Mese Inizio : 7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Eliminiamo le colonne *unnamed* e le righe *nan* dovute alla formattazione *nested*:

In [39]:
# sistema storico_filtrato

df = filtrato.copy()

df.drop(columns='N° MC', inplace=True)
df.rename(columns={
    'Unnamed: 1': 'anno inizio',
    'Unnamed: 2': 'mese articolo',
    'Unnamed: 3': 'N_mc'
    }, 
    inplace=True
)
df.dropna(subset=['data ora partenza', 'data ora fine'], inplace=True)

df['anno inizio'] = df['data ora partenza'].apply(lambda x: x.split(' ')[0].split('/')[2])
df['mese articolo'] = df['data ora partenza'].apply(lambda x: x.split(' ')[0].split('/')[1])

filtrato = df.copy()

df.head(2)

,anno inizio,mese articolo,N_mc,cod articolo,descrizione,N° fusi reali,velocita fusi inferiori,data ora partenza,data ora fine,data ora fine manuale,ore lavorate dalla partenza,KWh assorbiti,KW medi,produzione [kg],KWh/Kg,€/Kg,note,N° scheda
2,2021,06,10.0,2271DN 22000,"K22/8f5 dc tpm 3000 st. 2,8 (CI)",NaN,NaN,30/06/2021 22:17:01,24/07/2021 10:17:01,NaN,614.38,10288.63,16.7464,173.64,59.25,6.52,da ferma-minispole\n,NaN
3,2021,06,44.0,NaN,NaN,NaN,20200.0,29/06/2021 08:00:00,09/07/2021 02:00:00,NaN,NaN,NaN,NaN,0.00,NaN,NaN,da ferma ...,NaN

Trasformo le colonne *data* in *datetime*

In [40]:
df['data ora partenza']

2       30/06/2021 22:17:01
3       29/06/2021 08:00:00
5       05/07/2021 17:32:01
6       09/07/2021 11:16:01
7       19/07/2021 09:40:01
               ...
7630    14/10/2024 11:12:03
7631    25/10/2024 10:21:03
7632    08/10/2024 13:45:03
7633    15/10/2024 10:09:03
7634    21/10/2024 13:42:03
Name: data ora partenza, Length: 7518, dtype: object

In [41]:
df['data ora fine']

2       24/07/2021 10:17:01
3       09/07/2021 02:00:00
5       11/07/2021 13:32:01
6       16/07/2021 02:16:01
7       26/07/2021 00:40:01
               ...
7630    17/10/2024 06:10:02
7631    30/10/2024 09:15:03
7632    14/10/2024 11:10:03
7633    20/10/2024 20:40:03
7634    28/10/2024 09:35:04
Name: data ora fine, Length: 7518, dtype: object

In [42]:
df['data partenza'] = df['data ora partenza'].apply(lambda x: x.split(' ')[0])
# df['ora partenza'] = df['data ora partenza'].apply(lambda x: x.split(' ')[1])

df['data fine'] = df['data ora fine'].apply(lambda x: x.split(' ')[0])
# df['ora fine'] = df['data ora fine'].apply(lambda x: x.split(' ')[1])     # TODO: non tutte le righe hanno l'ora, non serve

df['data partenza'] = pd.to_datetime(df['data partenza'], format='%d/%m/%Y')
df['data fine'] = pd.to_datetime(df['data fine'], format='%d/%m/%Y')

df['durata (giorni)'] = df['data fine'] - df['data partenza']
df['durata (giorni)'] = df['durata (giorni)'].apply(lambda x: x.days)

df.head(1)

,anno inizio,mese articolo,N_mc,cod articolo,descrizione,N° fusi reali,velocita fusi inferiori,data ora partenza,data ora fine,data ora fine manuale,...,KWh assorbiti,KW medi,produzione [kg],KWh/Kg,€/Kg,note,N° scheda,data partenza,data fine,durata (giorni)
2,2021,06,10.0,2271DN 22000,"K22/8f5 dc tpm 3000 st. 2,8 (CI)",NaN,NaN,30/06/2021 22:17:01,24/07/2021 10:17:01,NaN,...,10288.63,16.7464,173.64,59.25,6.52,da ferma-minispole\n,NaN,2021-06-30,2021-07-24,24

In [43]:
df.info(True)
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 7518 entries, 2 to 7634
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   anno inizio                  7518 non-null   object
 1   mese articolo                7518 non-null   object
 2   N_mc                         7518 non-null   float64
 3   cod articolo                 7158 non-null   object
 4   descrizione                  7158 non-null   object
 5   N° fusi reali                1341 non-null   float64
 6   velocita fusi inferiori      7149 non-null   float64
 7   data ora partenza            7518 non-null   object
 8   data ora fine                7518 non-null   object
 9   data ora fine manuale        1593 non-null   object
 10  ore lavorate dalla partenza  6904 non-null   float64
 11  KWh assorbiti                6904 non-null   float64
 12  KW medi                      6904 non-null   float64
 13  produzione [kg]              7169 non-null   float64
 14  KWh/Kg                       6657 non-null   float64
 15  €/Kg                         6157 non-null   float64
 16  note                         3896 non-null   object
 17  N° scheda                    802 non-null    object
 18  data partenza                7518 non-null   datetime64[ns]
 19  data fine                    7518 non-null   datetime64[ns]
 20  durata (giorni)              7518 non-null   int64
dtypes: datetime64[ns](2), float64(9), int64(1), object(9)
memory usage: 1.3+ MB

,N_mc,N° fusi reali,velocita fusi inferiori,ore lavorate dalla partenza,KWh assorbiti,KW medi,produzione [kg],KWh/Kg,€/Kg,data partenza,data fine,durata (giorni)
count,7518.000000,1341.000000,7149.000000,6904.000000,6904.000000,6904.000000,7169.000000,6657.000000,6157.000000,7518,7518,7518.000000
mean,39.311120,246.445190,15406.744440,177.476577,2059.942213,13.582514,145.239616,26.250673,6.531166,2023-04-14 12:30:50.279329280,2023-03-28 01:40:10.534716672,-17.451849
min,1.000000,3.000000,0.000000,1.000000,-314406.630000,-886.651500,0.000000,-2133.300000,-469.330000,2021-06-29 00:00:00,1899-12-30 00:00:00,-44718.000000
25%,24.000000,252.000000,12981.000000,64.587500,391.492500,7.509975,91.410000,3.940000,0.740000,2022-08-02 00:00:00,2022-08-12 00:00:00,3.000000
50%,39.000000,256.000000,16700.000000,114.080000,1124.925000,10.971450,124.370000,7.330000,1.680000,2023-04-11 00:00:00,2023-04-19 00:00:00,5.000000
75%,55.000000,264.000000,20200.000000,263.297500,3162.707500,13.678325,176.820000,29.670000,6.750000,2024-01-27 00:00:00,2024-02-05 00:00:00,14.000000
max,77.000000,7024.000000,22400.000000,1159.500000,124425.580000,22280.909800,12207.100000,17436.270000,4917.150000,2024-10-30 00:00:00,2105-05-30 00:00:00,30100.000000
std,19.598332,202.856032,5785.717177,160.026741,5400.432552,268.610073,270.105200,296.093457,82.908929,NaN,NaN,1204.284892

### storico_ordini.csv

In [ ]:
ordini = pd.read_csv('input/storico_ordini.csv', decimal=',')
ordini.info(True)
ordini.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1116 entries, 0 to 1115
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Cliente                    1116 non-null   object
 1   n. ordine cliente          973 non-null    float64
 2   n. ordine ns               761 non-null    float64
 3   data inserimento ordine    1076 non-null   object
 4   n. ordine interno          521 non-null    float64
 5   cod articolo               1103 non-null   object
 6   descrizione                1110 non-null   object
 7   quantità                   1106 non-null   object
 8   data di consegna           374 non-null    object
 9   nr. fusi                   504 non-null    float64
 10  N° MC                      507 non-null    float64
 11  n° levate                  504 non-null    float64
 12  gg per produrre            504 non-null    float64
 13  data arrivo materia prima  92 non-null     object
 14  Completamento ordine       504 non-null    object
 15  prodotto kg                504 non-null    float64
 16  consegnato kg              920 non-null    object
 17  giacenza prodotto finito   596 non-null    object
 18  note                       251 non-null    object
 19  Evaso                      1116 non-null   object
dtypes: float64(8), object(12)
memory usage: 174.5+ KB

,Cliente,n. ordine cliente,n. ordine ns,data inserimento ordine,n. ordine interno,cod articolo,descrizione,quantità,data di consegna,nr. fusi,N° MC,n° levate,gg per produrre,data arrivo materia prima,Completamento ordine,prodotto kg,consegnato kg,giacenza prodotto finito,note,Evaso
0,ATHENA,NaN,10.0,30/05/2023,190.0,4463S+ZN1,"Cr44/44f34 colorwise S+Z tpm 650 st. 3,2 (DC)","850,0",31/08/2023,256.0,1.0,3.98,19.25,NaN,18/10/2024,763.51,"1.124,0","0,0",NaN,Vero
1,MICHELE LETIZIA,230094.0,18150.0,24/02/2023,105.0,X22-7806S+ZN,"Ly 78/44f72 Z tpm 900 st. 4,0 (EA)","550,0",20/03/2023,264.0,1.0,3.61,13.98,NaN,13/10/2024,497.34,"554,0",NaN,NaN,Vero
2,RADICI,2003483.0,18155.0,27/02/2023,71.0,2275S+ZN-N00,"Cr22/44f34 S+Z tpm 600 st. 3,2 (DC)","2.200,0",15/05/2023,264.0,1.0,9.37,46.06,NaN,14/11/2024,2757.27,"2.358,60",NaN,NaN,Vero
3,RADICI,2003483.0,18155.0,27/02/2023,72.0,2275S+ZN-B10A,"Cr22/44f34 S+Z tpm 600 st. 3,2 (DC)","8.500,0",30/06/2023,264.0,2.0,18.10,88.97,NaN,27/12/2024,8758.16,"8.780,90",NaN,NaN,Vero
4,RADICI,2003483.0,18155.0,27/02/2023,73.0,2276S+ZN,"Cr22/44f30 S+Z tpm 650 st. 3,2 (DC)","3.000,0",15/05/2023,256.0,2.0,6.69,38.58,NaN,07/11/2024,4296.48,"3.325,0",NaN,NaN,Vero

#### Casting

In [ ]:
## date
ordini['data inserimento ordine'] = pd.to_datetime(ordini['data inserimento ordine'], format='%d/%m/%Y')
ordini['data di consegna'] = pd.to_datetime(ordini['data di consegna'], format='%d/%m/%Y')
ordini['Completamento ordine'] = pd.to_datetime(ordini['Completamento ordine'], format='%d/%m/%Y')

## quantità
ordini.dropna(subset=['quantità', 'cod articolo', 'consegnato kg'], inplace=True)

# Function to clean the 'quantità' values
def clean_quantity(value):
    # Remove , and any value after it
    cleaned_value = value.split(',')[0]
    # Remove .
    cleaned_value = cleaned_value.replace('.', '')
    return float(cleaned_value)

ordini['quantità'] = ordini['quantità'].apply(clean_quantity)
ordini['consegnato kg'] = ordini['consegnato kg'].apply(clean_quantity)

ordini.to_csv('valid/storico_ordini.csv', index=False)

ordini.head()

,Cliente,n. ordine cliente,n. ordine ns,data inserimento ordine,n. ordine interno,cod articolo,descrizione,quantità,data di consegna,nr. fusi,N° MC,n° levate,gg per produrre,data arrivo materia prima,Completamento ordine,prodotto kg,consegnato kg,giacenza prodotto finito,note,Evaso
0,ATHENA,NaN,10.0,2023-05-30,190.0,4463S+ZN1,"Cr44/44f34 colorwise S+Z tpm 650 st. 3,2 (DC)",850.0,2023-08-31,256.0,1.0,3.98,19.25,NaN,2024-10-18,763.51,1124.0,"0,0",NaN,Vero
1,MICHELE LETIZIA,230094.0,18150.0,2023-02-24,105.0,X22-7806S+ZN,"Ly 78/44f72 Z tpm 900 st. 4,0 (EA)",550.0,2023-03-20,264.0,1.0,3.61,13.98,NaN,2024-10-13,497.34,554.0,NaN,NaN,Vero
2,RADICI,2003483.0,18155.0,2023-02-27,71.0,2275S+ZN-N00,"Cr22/44f34 S+Z tpm 600 st. 3,2 (DC)",2200.0,2023-05-15,264.0,1.0,9.37,46.06,NaN,2024-11-14,2757.27,2358.0,NaN,NaN,Vero
3,RADICI,2003483.0,18155.0,2023-02-27,72.0,2275S+ZN-B10A,"Cr22/44f34 S+Z tpm 600 st. 3,2 (DC)",8500.0,2023-06-30,264.0,2.0,18.10,88.97,NaN,2024-12-27,8758.16,8780.0,NaN,NaN,Vero
4,RADICI,2003483.0,18155.0,2023-02-27,73.0,2276S+ZN,"Cr22/44f30 S+Z tpm 650 st. 3,2 (DC)",3000.0,2023-05-15,256.0,2.0,6.69,38.58,NaN,2024-11-07,4296.48,3325.0,NaN,NaN,Vero

### storico_pianificazione.csv

In [ ]:
pianificazione = pd.read_csv('input/storico_pianificazione.csv', decimal=',')
pianificazione.info(True)
pianificazione.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Cliente                      533 non-null    object
 1   n. ordine interno            533 non-null    float64
 2   codarticolo                  533 non-null    object
 3   descrizione                  533 non-null    object
 4   quantità                     532 non-null    object
 5   data di consegna             104 non-null    object
 6   Mc No.                       450 non-null    object
 7   data fermata prevista        274 non-null    object
 8   data inserimento produzione  449 non-null    object
 9   n. levate                    446 non-null    float64
 10  nr fusi effettivi            67 non-null     float64
 11  fine produzione              446 non-null    object
 12  kg prodotti                  446 non-null    object
 13  evaso                        533 non-null    object
dtypes: float64(3), object(11)
memory usage: 61.7+ KB

,Cliente,n. ordine interno,codarticolo,descrizione,quantità,data di consegna,Mc No.,data fermata prevista,data inserimento produzione,n. levate,nr fusi effettivi,fine produzione,kg prodotti,evaso
0,MICHELE LETIZIA,105.0,X22-7806S+ZN,"Ly 78/44f72 Z tpm 900 st. 4,0 (EA)","550,0",20/03/2023,60,NaN,16/03/2023,4.0,NaN,01/04/2023,"609,9638",Vero
1,RADICI,71.0,2275S+ZN-N00,"Cr22/44f34 S+Z tpm 600 st. 3,2 (DC)","2.200,0",15/05/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vero
2,NaN,NaN,NaN,NaN,NaN,NaN,71,06/11/2024,08/03/2023,13.0,NaN,13/05/2023,"3.053,1394",NaN
3,RADICI,72.0,2275S+ZN-B10A,"Cr22/44f34 S+Z tpm 600 st. 3,2 (DC)","8.500,0",30/06/2023,55,27/09/2024,15/03/2023,21.0,NaN,29/06/2023,"4.931,9944",Vero
4,NaN,NaN,NaN,NaN,NaN,NaN,52,01/10/2024,04/03/2023,20.0,NaN,13/06/2023,"4.697,1375",NaN

Dataset prettamente per organizzazione interna, i dati rilevanti sono già disponibili negli altri files.

# Utils

## Clienti

### cliente : occorrenze_storico

In [ ]:
tot_per_client = ordini['Cliente'].value_counts()

with open('utils/tot_per_client.json', 'w') as f:
    json.dump(tot_per_client.to_dict(), f)

tot_per_client.head(20)

Cliente
SANYLEG                        134
CALZIFICIO TREVER               74
DIAMANT                         71
GIZETA                          67
CALZIFICIO NUOVO GIODI          39
FALKE                           34
CSP PARIS                       33
MANIFATTURA ITALIA CUCIRINI     27
BBF GAMBETTI                    24
CALZIFICIO TEX STYLE            22
FGP                             22
MARYGOLD                        21
CSP INTERNATIONAL               19
CALZIFICIO SANBA                16
CALZIFICIO CREMONA              16
RADICI                          15
CALZIFICIO POLAR                12
FISHER & PAYKEL                 12
CALZIFICIO GENNY                11
ATHENA                          11
Name: count, dtype: int64

### cliente : {articolo : occorrenze}

In [ ]:
# aux function to count occurrences of each 'cod articolo'
def count_articles(group):
    return group['cod articolo'].value_counts().to_dict()

# Group by 'Cliente' and apply the custom function
ordini_per_client = ordini.groupby('Cliente').apply(count_articles)

with open('utils/ordini_per_client.json', 'w') as file:
    json.dump(ordini_per_client.to_dict(), file, indent=4)

# Display the result
print(ordini_per_client.head())

Cliente
ALLERGO SYSTEM                                       {'4462ZN2': 6}
ALPIN CORAP                          {'23505DN1': 2, '23505DN2': 2}
AMBROFIBRE        {'X23-2280S+ZN': 3, 'X21-4480S+ZN': 1, 'X23-22...
APPLE             {'S18-60042V4DN': 2, 'S18-60042V2DN': 1, 'S15-...
ATHENA            {'4463S+ZN1': 7, '4457ZN2': 1, 'X22-7810S-ZN35...
dtype: object

In [49]:
ordini_per_client['ALLERGO SYSTEM'] == ordini_per_client[0]

True

In [50]:
ordini_per_client.keys()

Index(['ALLERGO SYSTEM', 'ALPIN CORAP', 'AMBROFIBRE', 'APPLE', 'ATHENA',
       'AUSSCO', 'BBF GAMBETTI', 'BORN', 'BRAM', 'BRUNO CHIARUTTINI SRL',
       'BUCAN D.O.O.', 'CALZE LUISA', 'CALZE OLONA', 'CALZIFICIO ARGOPI',
       'CALZIFICIO ATHENA', 'CALZIFICIO BELLAFONTE', 'CALZIFICIO BRAM',
       'CALZIFICIO C&LD', 'CALZIFICIO CAROL', 'CALZIFICIO CREMONA',
       'CALZIFICIO DUE C', 'CALZIFICIO FIONI', 'CALZIFICIO GENNY',
       'CALZIFICIO LUISA', 'CALZIFICIO NEGRISOLI', 'CALZIFICIO NUOVO GIODI',
       'CALZIFICIO POLAR', 'CALZIFICIO SANBA', 'CALZIFICIO TEX STYLE',
       'CALZIFICIO TREVER', 'CALZIFICIO VACCARI', 'CALZIFICIO ZETA',
       'CHRIMARTEX', 'CSP INTERNATIONAL', 'CSP PARIS', 'DIAMANT', 'DUELEGS',
       'EREBUS', 'ESTAMBRIL TEXTILES INTERNATIONAL S.L.', 'FALKE',
       'FEIN ELAST GRABHER', 'FF', 'FGP', 'FILTRADING', 'FISHER & PAYKEL',
       'FOCENZA FACTORY', 'FRITSCHE', 'FROHN GMBH', 'GI TESSIL FODERAMI',
       'GIZETA', 'GREENFLEX BV', 'GT 2000', 'GUSTAV GERSTER', 'HEXONIA GMBH',
       'INNOTECT', 'INNOVAKNIT', 'INVENTEX', 'JACOB ROHNER',
       'JULIUS ZORN GMBH', 'LANIFICIO CAVERNI SRL', 'LANIFICIO FALIERO SARTI',
       'MAGLIFICIO FASIROTEX', 'MANIFATTURA ITALIA CUCIRINI', 'MARYGOLD',
       'MAXIS', 'MEDI', 'MICHELE LETIZIA', 'NASTRIFICIO VICTOR',
       'OLIMPIAS GROUP SRL', 'PIEFFE SPORT', 'RADICI', 'SANYLEG',
       'SCHMITZ-WERKE GmbH + Co. KG', 'SCORTA', 'SINERGY GROUP', 'T & T',
       'T.A.T SRL', 'TAT TESSITURA AUTOMATICA TAVERNERIO', 'TATRASVIT',
       'TESS. PARISOTTO - TEXSARP', 'TESSITURA TAIANA VIRGILIO SPA',
       'TRERE' INNOVATION', 'TUBLA D.O.O.', 'UTEXBEL', 'W.ZIMMERMANN', 'WARMX',
       'Z TECH'],
      dtype='object', name='Cliente')

## Articoli

### articolo : (occorrenze, occ_normalizzate)

In [ ]:
# per ogni articolo conta occorrenze
uso_per_articolo = df['cod articolo'].value_counts()
uso_norm = uso_per_articolo / df['cod articolo'].count()

# Create the dictionary
articolo_dict = {
    articolo: {
        'tot': int(uso_per_articolo[articolo]),
        'norm': float(uso_norm[articolo])
    }
    for articolo in uso_per_articolo.index
}

with open('utils/uso_per_articolo.json', 'w') as f:
    json.dump(articolo_dict, f, indent=4)

### cliente, articolo : mean_quantity, std_quantity, mean_giorni_ordine

In [ ]:
ordini = pd.read_csv('valid/storico_ordini.csv')

ordini['data inserimento ordine'] = pd.to_datetime(ordini['data inserimento ordine'])
ordini['data di consegna'] = pd.to_datetime(ordini['data di consegna'])

# Calculate the difference in days between 'data_inserimento' and 'data_consegna'
ordini['differenza_giorni'] = (ordini['data di consegna'] - ordini['data inserimento ordine']).dt.days

# Group by 'Cliente' and 'cod articolo' and calculate mean and std of 'quantità'
quantity_per_client = ordini.groupby(['Cliente', 'cod articolo'])['quantità'].agg(['mean', 'std'])
quantity_per_client.fillna(0, inplace=True)

# Calculate the mean of 'differenza_giorni' for each group
mean_differenza_giorni = ordini.groupby(['Cliente', 'cod articolo'])['differenza_giorni'].mean().round()

# Merge the mean difference into the existing DataFrame
filler = ordini['differenza_giorni'].mean().round()
quantity_per_client = quantity_per_client.merge(mean_differenza_giorni, on=['Cliente', 'cod articolo'], how='left')
quantity_per_client.rename(columns={'differenza_giorni': 'mean_differenza_giorni'}, inplace=True)
quantity_per_client.fillna(value={'mean_differenza_giorni': filler}, inplace=True)                  # fill NaN values with filler
quantity_per_client['mean_differenza_giorni'].replace(0, filler, inplace=True)                      # replace 0 with filler
quantity_per_client = quantity_per_client[quantity_per_client['mean_differenza_giorni'] > 0]        # non-negative values

# Save the updated DataFrame to a CSV file
quantity_per_client.to_csv('utils/quantity_per_client.csv')

# Display the first few rows of the updated DataFrame
print(quantity_per_client.describe())

quantity_per_client.head()

              mean          std  mean_differenza_giorni
count   316.000000   316.000000              316.000000
mean    297.241824    96.946487               29.316456
std     476.097609   289.379777               18.588984
min       0.000000     0.000000                1.000000
25%      40.000000     0.000000               26.000000
50%     144.750000     0.000000               26.000000
75%     346.875000    68.255094               26.000000
max    4366.666667  3580.968212              123.000000

                                   mean         std  mean_differenza_giorni
Cliente        cod articolo
ALLERGO SYSTEM 4462ZN2        70.166667   28.505555                    20.0
ALPIN CORAP    23505DN1        7.500000    3.535534                    26.0
               23505DN2       35.000000   21.213203                    26.0
AMBROFIBRE     X21-4480S+ZN  160.000000    0.000000                    26.0
               X23-2280S+ZN  506.666667  440.037877                    26.0

### articolo : [macchine (in base a storico)]

In [ ]:
df = filtrato.loc[:, ['N_mc', 'cod articolo']]
df.columns = ['N_mc', 'cod articolo']

# switch columns
df = df[['cod articolo', 'N_mc']]
df.dropna(inplace=True)
df.head()

articoli_df = df

articoli = {}
for key in df['cod articolo'].unique():
    values = [int(v) for v in df[df['cod articolo'] == key].loc[:, 'N_mc'].unique()]
    articoli[key] = values

with open('utils/articoli.json', 'w') as f:
    json.dump(articoli, f, skipkeys=True, ensure_ascii=False, indent=4)

articoli = json.load(open('utils/articoli.json'))
articoli

{'2271DN 22000': [10, 12, 63, 1, 3, 5, 7, 2, 4, 8, 9],
 '2252DN': [6],
 '23502DN-9025': [6],
 '848DN': [11, 8, 14, 76, 77, 49, 50, 2],
 '2250S+ZN': [13, 19, 17, 56, 21, 22],
 '94001DN2': [14, 15, 6, 23],
 'X15-15697V3DN': [15],
 'X21-20098DN': [16, 15],
 'X18-15602DN': [16, 17, 23],
 '7036ZN': [20, 35, 45, 70, 71, 72, 46, 53, 29, 18, 21],
 '4423DN': [24, 6, 36],
 '4407DN': [24, 47, 2, 65, 66, 10, 61, 68, 49, 50],
 '2270S+ZN': [25,
  21,
  27,
  69,
  26,
  20,
  22,
  28,
  36,
  54,
  59,
  35,
  60,
  15,
  19,
  33,
  55,
  24,
  14,
  34,
  51,
  16,
  18,
  53,
  13,
  17],
 '4464S+ZN': [34, 36, 21, 18, 20, 24, 53],
 'X21-4489V2S+ZN2': [36, 55],
 '7032S+ZN': [36, 13, 21, 72, 18],
 '39502DN2': [37, 39, 74, 40],
 '33001DN2': [38, 39, 42, 41, 67],
 '23504DN-5000': [40, 39, 37],
 '23504DN-QZ890': [40],
 '23502DN-T0001': [41, 6],
 '13007ZN/F-14500': [42, 6, 43, 30, 32, 38, 37, 29],
 'X22-2209ZN': [45, 58, 57],
 '2265ZN2': [46, 40, 42, 53],
 '1726S+ZN': [51, 71, 18, 44, 17, 54, 70],
 'X18-4406V2SN': [52, 59, 72, 75],
 '2253ZN': [52, 53],
 '1283SN': [54, 67, 58],
 'X21-4496S+ZN': [55],
 '7008ZN': [56, 45],
 '7005ZF2': [56],
 'X21-2279S+ZN': [57],
 '2269ZN2': [58, 44],
 '2202ZN': [58, 70],
 '4426ZN2': [59, 55],
 '7005ZF': [59, 22],
 '4428ZN/F': [60, 28, 38, 45, 58, 44, 56, 14],
 'S18-160044DN100': [68, 37, 40],
 'S18-200014DN': [68, 74, 37, 38],
 '2274ZN': [70, 51, 44, 46, 25],
 '4462ZN1': [71],
 'X18-2203ZF2': [75],
 '28501DN': [15, 42],
 'X21-13097DN': [22, 14, 37, 41, 40],
 '4406ZN': [28, 60, 75],
 'X21-2274S+ZN': [33, 36],
 '13005ZF-600gr': [42, 43, 30],
 '4445S+ZN': [46],
 '4463S+ZN1': [55, 70, 75, 57, 58, 31, 44],
 'X21-1299S+ZN': [67],
 'S21-60083DN': [68, 67],
 '2271DN 20700': [1,
  3,
  4,
  5,
  9,
  10,
  48,
  61,
  62,
  63,
  7,
  12,
  2,
  8,
  11,
  36,
  47,
  64,
  23],
 '31002DN1': [6, 41, 42, 39, 67, 40, 23],
 '39501DN': [14, 39, 40],
 '1725DN racc 230': [14, 39, 38],
 'X20-13004DN-E80': [22],
 '2011DN': [22, 23, 68, 11, 15, 48, 1, 5, 9, 62, 47, 63, 64, 42, 41, 4],
 '2777ZF2': [26],
 '4439ZN': [28, 72, 45, 55, 46, 56],
 '28503ZN': [31, 37, 38, 39, 42, 40, 43, 23, 29],
 'X21-2291ZF': [35, 45, 46, 75, 54],
 '62002DN2': [37, 40, 39, 42],
 '62002DN': [37, 38, 39, 41, 40, 42],
 '23504DN-Q1724': [39],
 '39502DN-colori vari': [40, 39, 42],
 '62001DN1': [40, 41, 39, 38, 42],
 '2268S+ZN': [45, 75],
 '4403ZN': [46, 45],
 '2274ZN2': [51, 58, 52, 70, 46],
 '2275S+ZN': [52, 55, 45],
 '2275S+ZN-N00': [52, 53, 70, 44, 71, 55, 46, 35, 59],
 'X16-2213ZN': [53],
 'X21-1298S+ZN': [54, 52, 71],
 '4414ZN': [55, 60, 37, 42, 21],
 '2236ZN': [56, 75, 29, 51, 57],
 '4424ZN/F': [57, 44, 70, 51, 71, 58, 52],
 '2276S+ZN': [58, 59, 72, 18, 55, 75, 46, 60, 51, 52, 53],
 'S21-60083V2DN': [68],
 'S19-60064V3DN': [68, 37, 6],
 'X21-13097DN-VARI COL': [68, 18, 42, 40, 6],
 'X20-2219ZF1': [69, 67],
 '94003DN-QZ890': [74],
 '20098DN-VARI COL': [17, 39, 42, 38],
 '7010ZF': [20, 72, 71, 16, 55, 52, 44, 45],
 '2223DN': [22],
 'ManilaZN1': [35, 14, 19],
 '2275S+ZN-B10A': [52, 53, 70, 72, 46, 75, 55, 54, 58, 59, 51],
 '2254S+ZN': [59, 16, 70, 72],
 '2221ZN': [69],
 'X18-2208SN': [72],
 '4449ZN2': [43],
 'X21-13093V2DN': [37],
 '4421ZN': [46],
 '4412S+ZN': [16, 21, 51, 45, 17, 20, 24, 72, 18],
 '4466S+ZN': [17, 52, 59, 18],
 'X21-2268DN': [19, 39, 69],
 '7004DN': [23],
 'X22-7801DN': [24, 69, 67, 68],
 '31004DN220379': [39, 37, 42, 38, 41, 74, 40],
 'X21-20099DN2': [40, 37, 42, 38, 69],
 '4412ZN': [51, 45, 19, 72, 52],
 'X21-4480S+ZN': [53, 54],
 '2012S+ZN': [56, 57],
 '2211ZF': [58],
 '2273S+Z': [60, 16, 17],
 'X21-15696V7DN': [67],
 '2246ZN 13500': [70, 16, 44, 59, 55],
 'X22-4405ZN': [71],
 '11008ZF': [72, 71],
 '94003DN-2000': [6, 73],
 '94001DN': [6],
 '4402DN': [10, 36],
 'X21-20098DN-VARI COL': [14, 42, 68, 40, 39],
 '2270SN': [19],
 '23504DN': [37, 40, 38, 42, 39],
 'S17-100004DN': [37, 40],
 'S14-60003V2DN 23h': [37, 74, 38],
 'X22-2202S+ZN': [37, 58],
 '31003DN220274': [39, 37, 6, 38, 40, 42, 41],
 'X14-1707DN': [39],
 '4459DN 21500': [40, 49, 6],
 '2254SN': [42, 72],
 'X22-4405SN': [44],
 '1731DN': [6, 40, 42, 69, 68],
 'X22-1703DN': [11, 3],
 'X22-7806S+ZN': [16, 17, 51, 75, 60, 45, 71],
 'X14-7801SN2': [24, 55],
 'S19-60054DN': [37],
 'X21-39599V6DN': [37],
 'X20-2222DN2 mini': [39, 36],
 '33002DN': [42, 37, 41, 40],
 '7034ZN': [46, 70, 35, 25, 45, 17],
 '2266S+ZN': [16, 55],
 'S21-60083V3DN1': [37],
 'X22-4405S+ZN': [44],
 'X21-2284V2DN': [50],
 '2246SN': [53, 16],
 'X21-15696V8DN': [68, 69, 67],
 '4424ZN': [72, 52],
 'X22-31002V7DN_1': [6],
 '1724S+ZN': [13, 53, 16],
 '2254ZN': [16, 72, 25, 18, 57],
 '13007ZF 903C 14000': [31, 32, 43, 29],
 '13005ZF-14000': [31, 29, 43, 30, 32, 14],
 '1732DN1': [36, 39],
 '13005ZF 17600': [43, 31, 32, 29, 30, 23],
 'X22-4407ZN': [44],
 '2277DN': [66, 50, 68, 69, 61, 1, 49],
 'S15-160018DN': [37],
 'X17-4495ZN': [53, 44],
 '4450ZN': [55, 59, 71],
 '2013S+ZN': [56, 57],
 '11007SF 2 cicli': [58, 51],
 'X18-2208SN1+SN2': [72],
 'S19-60052DN': [37],
 '7005ZN': [45],
 '4449S+ZN': [57, 17],
 '1301ZN': [31, 69, 23],
 'S15-700002DN': [37],
 '20098DN': [42, 6],
 '10353ZF': [45, 22],
 '2218ZN': [57, 52, 60],
 '4415ZN': [70, 57],
 'S19-60064V3DN-U427': [37, 40, 42, 69, 68],
 'S16-60015V2DN2': [37, 38],
 '10369ZF2': [55],
 '1283S+ZN': [58],
 'X21-20099DN1': [37, 39, 42, 38],
 '23504DN-VARI COLORI': [39, 37, 42],
 '4412SN': [45, 17, 21],
 'X22-2211ZF1': [52, 58, 75, 71],
 'X11-1798S+ZN': [55],
 'X21-2291S+ZF': [75],
 '2263S+ZN': [75],
 '2271DN 20700 mini': [12, 3, 5, 8, 11, 47, 48, 66, 63, 64, 65, 61, 62, 10, 9],
 '15611DN': [23, 69],
 'X22-4408V2DF/SAND': [23, 68, 36],
 'S600A03DN': [37],
 'X22-47001DN/SAND': [39, 40],
 'S20-60076V2DN': [40, 38],
 '2246S+ZN': [44],
 '11007SF 3 cicli': [51, 44],
 '1706S+ZN': [52],
 'X21-2291SF': [54, 51, 75, 52, 56, 25],
 '2250SN': [56, 44, 60],
 '4424ZF': [57],
 'X21-2283S-ZN1': [58],
 'X23-4499S+ZN': [58, 72, 60],
 'X21-4481DN': [65, 7],
 'X23-2299ZF': [75],
 '4462ZN2': [75, 72, 18, 39],
 '2011DN mini': [4, 9, 62, 64, 63, 11, 2, 7, 10, 3, 65, 12, 5, 22, 8],
 'S22-200037DN': [6],
 '1724S+ZN 2cicli': [13, 53, 57, 16, 33, 34, 71, 70],
 '13007Z': [23, 29, 37, 69, 68],
 'X17-20099ZN': [23, 38],
 '2270S+ZN mini': [26, 27, 59, 28, 33, 34],
 '4423DN mini': [36, 12, 67, 6],
 'S19-200021DN': [40],
 '2269ZF2': [44],
 '2277DN mini': [49, 61, 1, 50, 66, 7],
 '2279ZNB10A 14000': [58, 70],
 '1725DN': [68],
 'X23-2295S+ZN': [72, 35],
 '2008DN': [74, 38],
 '4464S+ZN mini': [20, 24, 53, 54, 34],
 'S21-60082DNB': [37],
 'X22-7810S-ZN354 4 ci': [45, 70, 51, 22, 21],
 '2202ZF': [45],
 '2250ZN': [56, 44],
 'X22-2005V2ZN1': [59, 69],
 '10996SN': [72, 59],
 '94003DN-5000': [73, 74],
 'X23-7897ZN-2310': [75],
 'X22-4404ZN': [75, 46],
 '4403ZN 20700': [25],
 '39502DN-61': [39],
 'X23-39597DN-114800': [42],
 '39502DN-14446': [42, 74, 39],
 '2202ZN/F 17200': [45, 59],
 '4461SF': [70, 44],
 '2278ZN1': [72],
 'X23-39598DN': [74],
 '848DN mini': [77, 76, 6],
 '749DN mini': [12, 62, 64, 6, 36, 49, 50, 66, 65],
 '23504DN-Q5143': [39],
 '23503DN-5000': [39],
 '4415ZF': [45],
 '4466ZN1': [59],
 '4459DN 20700': [68, 36],
 'X22-2005ZNV2-3248': [75],
 'X23-2299V3ZF': [75],
 'X23-2288S+ZN 8 giorn': [19],
 '2274ZN2015': [25, 58],
 '4457ZN2': [25, 75],
 'S14-60005V2DN': [37],
 '23504DN-Q7299': [39, 74],
 'S21-500011DN': [42],
 '2254ZN-11000': [58],
 '7035DN1': [69, 67],
 'X22-2203S+ZN': [70, 75, 51, 35],
 '94003DN-Q7299': [73, 74],
 'X20-2219ZF1 11gg': [51],
 'S18-160040DN': [74, 41],
 '2270S+ZN mini 19800': [27, 26, 28, 33],
 '10985ZF spole 880 gr': [44, 75, 60],
 'X22-2005V2ZN vari co': [45, 75],
 '2261S+ZN': [55],
 'X23-2282S+ZN': [55, 57],
 'X23-6198ZN cr.295 gr': [56],
 'X23-2299V5ZF': [56, 70, 18, 72, 71],
 '2254ZN-11400': [58],
 '4466SN1': [59],
 'X23-7892DN mini': [65, 36],
 '94003DN-Q7175': [74],
 '2270S+ZN 19800': [21, 14, 19, 20, 15, 16, 17, 26],
 'S19-60052DN-B9': [37],
 'S19-60052DN-B8': [37],
 'S16-60017V2DN-A2': [37],
 'S17-60040DN': [37],
 'X21-39599V7DN0333': [38, 40, 42, 37],
 'X22-47001DN/SAND 230': [40],
 'X21-39599V7DN0332': [40, 38, 39, 37, 42],
 'X23-31094DN3813': [42, 40],
 'X23-2288S+ZN 16000': [52],
 'X23-2280S+ZN': [55, 57, 54, 35],
 '2013S+ZN mini': [60, 54, 55, 56],
 '2267S+ZN': [64],
 '15613DN1': [67, 68, 69],
 'X22-2005V2ZN2100': [68],
 '2269ZN/F2': [70, 45],
 '4465SN1': [72, 56, 57],
 'X22-39503DN490': [74, 37],
 'X23-2288S+ZN': [75],
 'X22-1703DN minispole': [7],
 '23504DN-Q7175': [39],
 'X23-47097DN366': [40, 42, 39],
 'S15-60008V2DN2': [42],
 'S15-60008V3DN2': [42],
 'X23-2279ZF': [58, 72, 60],
 '20099ZF': [67, 23],
 'X23-4491DF366': [67, 68, 22],
 'X21-2268DN minispole': [69],
 '2279ZNB10A 13200': [70, 46, 71],
 'X18-2208ZN2': [18, 58],
 'S21-60090DN100': [40, 37],
 'S300020DN': [40],
 'X24-4401S+ZF2': [52, 24],
 'X23-4496V2ZN2': [58, 72, 53, 51],
 'X23-39598DN2999': [74],
 '4405S+ZN': [24],
 'S600A04DN': [37],
 'X24-31001DN366': [40, 42],
 'X24-2201S+ZN': [54],
 'X23-1399ZN2': [75],
 '749DN': [6],
 'X23-3399S+ZF': [13, 44],
 '2246ZN 10800': [31, 44],
 'S16-60015V2DNA1': [38],
 '62001DN2': [42, 39, 40],
 'X24-1301V2S+ZN mini': [55, 56, 75],
 '1730S+ZN mini': [60, 34],
 'S18-200017DN2': [73],
 'X24-7801ZN2': [74],
 'S600A07DN': [38],
 'X23-4489DN': [42, 39],
 'X24-7802S+ZN': [51, 60, 59],
 'X23-4493S+ZF': [57, 24, 25, 16],
 'X21-4489V3S+ZN': [70],
 'X21-2099S+ZN mini': [27, 28, 33, 34],
 'X24-2001S+ZN': [28, 60],
 's22-700011DN': [37],
 'X23-8397DN': [38],
 'S180001DN': [40],
 'X23-47097DN1': [42],
 '2265SN2': [44],
 'X24-1701S+ZN': [54],
 '4424S+ZN/F': [57, 52],
 'X23-4491DF1': [67, 68],
 'X23-7899ZN': [70],
 'X24-2213ZN2': [75, 52, 60],
 '2271DN 20000 mini': [12, 47],
 'ManilaZN2': [14],
 'X23-1299DN mini': [36],
 'S19-60052DN2': [38],
 'S21-60091V3DN   A230': [38],
 '31003DN220274 dm84': [40, 23],
 '2279ZN1 13200': [46],
 'X23-4496V2ZN2 16000': [51, 72],
 'X24-4403DN': [67],
 'S21-100011DN100 A230': [69],
 'S600A14DN': [73],
 'X20-2219V2ZF': [27],
 'X23-13097V5ZF': [29, 19, 20, 32],
 '31004DN220379 dm84': [38, 40],
 'X24-2202S+Z colorati': [51],
 'X21-2278V4DN': [67],
 '23505DN2': [74, 40],
 'X24-15601S+ZF colora': [75],
 'X24-15601S+Z': [75],
 '2223DN mini': [6],
 'S18-60042V4DN': [6],
 'X24-39501V2DN 718': [37],
 '1731DN 5cicli': [68],
 'S18-60042V2DN': [69],
 'S600A16ZN100': [69],
 'X24-4401ZF': [72, 74],
 'X23-3398V2S+ZN': [75],
 'X23-13097V8ZF': [19, 20, 32, 30],
 '4464ZN': [28],
 'S14-60003V2DN 2gg': [37],
 '2275S+ZN-B10A 11400': [51, 58, 35],
 'X24-2212ZF': [71],
 '2275S+Z-N00 11400': [35, 58],
 'X24-31201DN2': [68],
 '2279ZN1 11000': [71, 45],
 'S19-160046DNcol.vari': [74],
 'X24-4403V2DN': [22],
 '2279ZNB10A 11000': [45],
 '4424SN': [52],
 'X23-7899V2ZN': [71]}

### articolo : [macchine abilitate]

In [ ]:
with open('utils/articoli_macchine_storico.json', 'r') as f:
    articoli = json.load(f)

with open('utils/macchine_info.json', 'r') as f:
    macchine = json.load(f)

# macchine per gruppo
gruppi = {}

# for i, m in enumerate(macchine):
for i in macchine.keys():
    g = macchine[i]['classe']
    if g not in gruppi.keys():
        gruppi[g] = []
    gruppi[g].append(int(i))

with open('utils/gruppi_macchine.json', 'w') as f:
    json.dump(gruppi, f, skipkeys=True, ensure_ascii=False, indent=4)

# articoli per macchine in cui può essere prodotto
art = {}

for articolo in articoli.keys():
    art[articolo] = set()
    for macchina in articoli[articolo]:
        if str(macchina) not in macchine.keys():
            continue
        group = macchine[str(macchina)]['classe']
        for machine in gruppi[group]:
            art[articolo].add(machine)


# Convert sets to lists
for key in art.keys():
    art[key] = list(art[key])
    art[key].sort()

with open('utils/articoli_macchine.json', 'w') as f:
    json.dump(art, f, skipkeys=True, ensure_ascii=False, indent=4)

art

{'2277DN mini': [1,
  2,
  3,
  4,
  5,
  7,
  8,
  9,
  10,
  11,
  12,
  47,
  48,
  61,
  62,
  63,
  64,
  65,
  66],
 '2011DN mini': [2,
  3,
  4,
  5,
  7,
  8,
  9,
  10,
  11,
  12,
  47,
  48,
  61,
  62,
  63,
  64,
  65,
  66],
 '2271DN 20700 mini': [2,
  3,
  4,
  5,
  7,
  8,
  9,
  10,
  11,
  12,
  47,
  48,
  61,
  62,
  63,
  64,
  65,
  66],
 '749DN mini': [6, 49, 50],
 'X22-1703DN minispole': [2,
  3,
  4,
  5,
  7,
  8,
  9,
  10,
  11,
  12,
  47,
  48,
  61,
  62,
  63,
  64,
  65,
  66],
 'X23-3399S+ZF': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36,
  44,
  45,
  46],
 '2270s+z rpm 19800': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 '2270S+ZN 19800': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 'X23-2299V5ZF': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 '7032S+ZN': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 '2270s+z rpm 21000': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 '2250S+ZN': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 '31002DN1': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 'X24-4401S+ZF2': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 'X23-4493S+ZF': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 'X21-2291SF': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 'X21-2291sf': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 '2270S+ZN mini': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 'X21-2099S+ZN mini': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 'X24-2001S+ZN': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 '13007ZN/F-14500': [29, 30, 31, 32, 43],
 '28503ZN': [29, 30, 31, 32],
 '2246ZN 10800': [29, 30, 31, 32, 44, 45, 46],
 'X23-2280S+ZN': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 'X20-2222DN2 mini': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 '33002DN': [37, 38, 40, 41, 42],
 's22-700011DN': [37, 38, 40, 41, 42],
 'S600A04DN': [37, 38, 40, 41, 42],
 'S600A03DN': [37, 38, 40, 41, 42],
 '33001DN2': [37,
  38,
  40,
  41,
  42,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 'X23-8397DN': [37, 38, 40, 41, 42],
 '31003DN220274': [37, 38, 39, 40, 41, 42],
 'X21-39599V7DN0332': [39],
 '62002DN': [39],
 '39502DN-14446': [39],
 '39502dn': [39],
 '62002DN2': [39],
 'X21-20099DN2': [37,
  38,
  40,
  41,
  42,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 'S180001DN': [37, 38, 40, 41, 42],
 'X23-47097DN366': [37, 38, 40, 41, 42],
 'X24-31001DN366': [37, 38, 40, 41, 42],
 'X23-47097DN1': [37, 38, 40, 41, 42],
 '13005ZF-14000': [29, 30, 31, 32, 43],
 '2265SN2': [44, 45, 46],
 'X24-2202s+z': [44, 45, 46],
 '7034ZN': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36,
  44,
  45,
  46],
 '2275S+ZN-B10A': [44,
  45,
  46,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 'X22-2211V2zf': [44, 45, 46],
 '4407DN': [2,
  3,
  4,
  5,
  7,
  8,
  9,
  10,
  11,
  12,
  47,
  48,
  49,
  50,
  61,
  62,
  63,
  64,
  65,
  66],
 'X22-7810S-ZN354 4 ci': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 'X22-2203S+ZN': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 '2274ZN2': [51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 67, 68, 69, 70, 71, 72],
 'lycra 20 fusion usata': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 'X23-4496V2ZN2': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 'X24-1701S+ZN': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 'X24-1301V2S+ZN mini': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 '4424zf': [51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 67, 68, 69, 70, 71, 72],
 '4424S+ZN/F': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 '4463S+ZN1': [29,
  30,
  31,
  32,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 '4466S+ZN': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 '2250SN': [51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 67, 68, 69, 70, 71, 72],
 'X23-4491DF1': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 'X23-4491DF366': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 '15611DN': [51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 67, 68, 69, 70, 71, 72],
 'X21-4489V3S+ZN': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 'X23-7899ZN': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 '1724S+ZN 2cicli': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 '4412ZN': [51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 67, 68, 69, 70, 71, 72],
 'X23-2279ZF': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 'X24-2213ZN2': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 '2271DN 20000 mini': [2,
  3,
  4,
  5,
  7,
  8,
  9,
  10,
  11,
  12,
  47,
  48,
  61,
  62,
  63,
  64,
  65,
  66],
 'manilas+z': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 '7032s+z': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 "X21-1796ZN ''la mc è in s+z utilizzato solo piano inf": [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 '4412SN': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 'CAMPIONE CREORA 130': [29, 30, 31, 32],
 'X23-2280s+z': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 '2275S+ZN-N00': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 'X23-7892DN mini': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 'X23-1299DN mini': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 'S15-160018DN': [37, 38, 40, 41, 42],
 'S19-60052DN2': [37, 38, 40, 41, 42],
 'S21-60091V3DN   A230': [37, 38, 40, 41, 42],
 's21-60091V3dn': [37, 38, 40, 41, 42],
 '62001DN2': [37, 38, 39, 40, 41, 42],
 '39502DN2': [39],
 'X23-31094DN3813': [37, 38, 40, 41, 42],
 '31003DN220274 dm84': [37, 38, 40, 41, 42],
 '2279ZN1 13200': [44, 45, 46],
 '2279ZNB10A 13200': [44, 45, 46],
 'X23-4496V2ZN2 16000': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 'X22-2005V2ZN': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 '2276S+ZN': [51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 67, 68, 69, 70, 71, 72],
 'X24-1701S+Z mini': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 '4465SN1': [51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 67, 68, 69, 70, 71, 72],
 'X24-4403DN': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 'S21-100011DN100 A230': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 'X22-2005V2ZN1': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 'S600A14DN': [],
 'S18-160040DN': [],
 '4428ZN/F': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 '2270s+z': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 '7036ZN': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 '10353ZF': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 'X22-7810s+z': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 '2270S+ZN mini 19800': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 'X20-2219V2ZF': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 'X21-2099s+z mini': [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  33,
  34,
  35,
  36],
 'X23-13097V5ZF': [29, 30, 31, 32],
 '13007ZF 903C 14000': [29, 30, 31, 32, 43],
 'S14-60003V2DN 23h': [37, 38, 40, 41, 42],
 '31004DN220379 dm84': [37, 38, 40, 41, 42],
 '4462ZN2': [39],
 '62001DN1': [37, 38, 40, 41, 42],
 'X24-2202S+Z colorati': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 '4424ZN': [51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 67, 68, 69, 70, 71, 72],
 '2013S+ZN mini': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 '2250s+z minispole': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 'x24-4403dn mini': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 'X21-2278V4DN': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 'S19-60064V3DN-U427': [51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  67,
  68,
  69,
  70,
  71,
  72],
 '1724s+z': [51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 67, 68, 69, 70, 71, 72],
 '4450ZN': [51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 67, 68, 69, 70, 71, 72],
 '23505DN2': [],
 'S18-200014DN': [],
 'X24-15601S+ZF colora': [],
 'X24-15601S+Z': []}

## Macchine

### macchina : [articoli]

In [ ]:
# clean data
df = filtrato.loc[:, ['N_mc', 'cod articolo']]
df = df.rename(columns={'Unnamed: 3': 'N_mc'})
df = df.dropna(subset=['N_mc'])

# remove duplicates and sort by N_mc
unique_df = df.drop_duplicates(subset=['N_mc', 'cod articolo'])
macchine_df = unique_df.sort_values(by=['N_mc'])

# macchine_df.head()

## dictionary from df
df = macchine_df

macchine = {}
for key in df['N_mc'].unique():
    values = [v for v in df[df['N_mc'] == key].loc[:, 'cod articolo'].values]
    macchine[int(key)] = values

# save to json
with open('utils/macchine_articoli.json', 'w') as f:
    json.dump(macchine, f, skipkeys=True, ensure_ascii=False, indent=4)

# load from json
with open('utils/macchine_articoli.json', 'r') as f:
    macchine = json.load(f)

macchine

{'1': ['2011DN', '2277DN', nan, '2277DN mini', '2271DN 20700', '2271DN 22000'],
 '2': ['2271DN 22000', '2271DN 20700', '848DN', '2011DN mini', '4407DN'],
 '3': [nan,
  'X22-1703DN',
  '2271DN 20700',
  '2271DN 20700 mini',
  '2271DN 22000',
  '2011DN mini'],
 '4': ['2271DN 20700', '2011DN', '2271DN 22000', '2011DN mini'],
 '5': ['2271DN 20700 mini',
  '2271DN 20700',
  '2011DN',
  '2271DN 22000',
  '2011DN mini'],
 '6': ['23502DN-9025',
  'S19-60064V3DN',
  '31003DN220274',
  '4423DN mini',
  '749DN',
  '4423DN',
  '4459DN 21500',
  'X21-13097DN-VARI COL',
  '20098DN',
  'S22-200037DN',
  'X22-31002V7DN_1',
  'S18-60042V4DN',
  '2252DN',
  '23502DN-T0001',
  '848DN mini',
  '2223DN mini',
  '1731DN',
  '94003DN-2000',
  '94001DN',
  '94001DN2',
  nan,
  '13007ZN/F-14500',
  '749DN mini',
  '31002DN1'],
 '7': ['X21-4481DN',
  'X22-1703DN minispole',
  nan,
  '2271DN 20700',
  '2271DN 22000',
  '2011DN mini',
  '2277DN mini'],
 '8': ['2011DN mini',
  '2271DN 20700',
  '2271DN 20700 mini',
  '848DN',
  '2271DN 22000'],
 '9': ['2271DN 20700',
  nan,
  '2011DN',
  '2271DN 22000',
  '2271DN 20700 mini',
  '2011DN mini'],
 '10': ['2271DN 20700',
  '4407DN',
  '4402DN',
  '2271DN 22000',
  '2011DN mini',
  '2271DN 20700 mini',
  nan],
 '11': ['848DN',
  'X22-1703DN',
  '2011DN mini',
  '2271DN 20700',
  '2011DN',
  nan,
  '2271DN 20700 mini'],
 '12': ['2271DN 20700 mini',
  '2271DN 22000',
  nan,
  '2011DN mini',
  '4423DN mini',
  '2271DN 20000 mini',
  '749DN mini',
  '2271DN 20700'],
 '13': ['2250S+ZN',
  nan,
  'X23-3399S+ZF',
  '7032S+ZN',
  '2270S+ZN',
  '1724S+ZN 2cicli',
  '1724S+ZN'],
 '14': ['2270S+ZN',
  'ManilaZN2',
  '4428ZN/F',
  '13005ZF-14000',
  nan,
  '94001DN2',
  'X21-13097DN',
  'X21-20098DN-VARI COL',
  '848DN',
  '2270S+ZN 19800',
  'ManilaZN1',
  '1725DN racc 230',
  '39501DN'],
 '15': ['2270S+ZN 19800',
  'X15-15697V3DN',
  '94001DN2',
  '2270S+ZN',
  'X21-20098DN',
  '28501DN',
  '2011DN'],
 '16': [nan,
  '1724S+ZN',
  'X21-20098DN',
  '2270S+ZN 19800',
  '2266S+ZN',
  '4412S+ZN',
  'X22-7806S+ZN',
  '2254S+ZN',
  '7010ZF',
  '1724S+ZN 2cicli',
  'X23-4493S+ZF',
  'X18-15602DN',
  '2273S+Z',
  '2246ZN 13500',
  '2246SN',
  '2270S+ZN',
  '2254ZN'],
 '17': ['2273S+Z',
  '4412S+ZN',
  '7034ZN',
  nan,
  '2270S+ZN',
  '4466S+ZN',
  '4412SN',
  '2270S+ZN 19800',
  '20098DN-VARI COL',
  '2250S+ZN',
  '4449S+ZN',
  'X18-15602DN',
  '1726S+ZN',
  'X22-7806S+ZN'],
 '18': ['X21-13097DN-VARI COL',
  'X23-2299V5ZF',
  '7032S+ZN',
  'X18-2208ZN2',
  '4462ZN2',
  '7036ZN',
  '2270S+ZN',
  '4412S+ZN',
  '2254ZN',
  '4466S+ZN',
  '2276S+ZN',
  '4464S+ZN',
  '1726S+ZN',
  nan],
 '19': ['2250S+ZN',
  '4412ZN',
  'ManilaZN1',
  'X23-13097V5ZF',
  'X23-13097V8ZF',
  'X23-2288S+ZN 8 giorn',
  '2270S+ZN',
  'X21-2268DN',
  nan,
  '2270S+ZN 19800',
  '2270SN'],
 '20': ['2270S+ZN 19800',
  '2270S+ZN',
  '4412S+ZN',
  nan,
  'X23-13097V5ZF',
  'X23-13097V8ZF',
  '4464S+ZN mini',
  '7010ZF',
  '7036ZN',
  '4464S+ZN'],
 '21': ['2250S+ZN',
  '4412S+ZN',
  nan,
  '4412SN',
  '7032S+ZN',
  '7036ZN',
  '2270S+ZN 19800',
  '4464S+ZN',
  '4414ZN',
  'X22-7810S-ZN354 4 ci',
  '2270S+ZN'],
 '22': ['2270S+ZN',
  '2223DN',
  'X20-13004DN-E80',
  '2011DN mini',
  '7005ZF',
  '2250S+ZN',
  'X23-4491DF366',
  'X24-4403V2DN',
  'X21-13097DN',
  'X22-7810S-ZN354 4 ci',
  nan,
  '2011DN',
  '10353ZF'],
 '23': ['20099ZF',
  '31002DN1',
  '31003DN220274 dm84',
  'X17-20099ZN',
  '13007Z',
  '2011DN',
  '7004DN',
  '2271DN 20700',
  '1301ZN',
  '94001DN2',
  '15611DN',
  'X22-4408V2DF/SAND',
  '13005ZF 17600',
  nan,
  '28503ZN',
  'X18-15602DN'],
 '24': ['2270S+ZN',
  'X24-4401S+ZF2',
  '4423DN',
  '4407DN',
  '4412S+ZN',
  'X22-7801DN',
  '4464S+ZN',
  '4405S+ZN',
  'X23-4493S+ZF',
  'X14-7801SN2',
  '4464S+ZN mini',
  nan],
 '25': ['2254ZN',
  nan,
  '4457ZN2',
  '7034ZN',
  '2274ZN',
  '2274ZN2015',
  '4403ZN 20700',
  'X21-2291SF',
  'X23-4493S+ZF',
  '2270S+ZN'],
 '26': ['2270S+ZN',
  '2777ZF2',
  '2270S+ZN 19800',
  '2270S+ZN mini',
  '2270S+ZN mini 19800'],
 '27': ['X20-2219V2ZF',
  '2270S+ZN mini',
  nan,
  'X21-2099S+ZN mini',
  '2270S+ZN',
  '2270S+ZN mini 19800'],
 '28': ['4406ZN',
  '2270S+ZN mini',
  '4428ZN/F',
  '4439ZN',
  '2270S+ZN mini 19800',
  nan,
  '2270S+ZN',
  'X21-2099S+ZN mini',
  'X24-2001S+ZN',
  '4464ZN'],
 '29': [nan,
  '13005ZF 17600',
  '13005ZF-14000',
  '13007ZF 903C 14000',
  '13007ZN/F-14500',
  '28503ZN',
  '7036ZN',
  '2236ZN',
  '13007Z',
  'X23-13097V5ZF'],
 '30': ['13005ZF 17600',
  '13005ZF-14000',
  '13005ZF-600gr',
  '13007ZN/F-14500',
  'X23-13097V8ZF'],
 '31': ['4463S+ZN1',
  '28503ZN',
  '13005ZF-14000',
  '13007ZF 903C 14000',
  '1301ZN',
  nan,
  '2246ZN 10800',
  '13005ZF 17600'],
 '32': ['13007ZN/F-14500',
  '13005ZF-14000',
  nan,
  'X23-13097V8ZF',
  '13005ZF 17600',
  'X23-13097V5ZF',
  '13007ZF 903C 14000'],
 '33': ['2270S+ZN mini',
  '2270S+ZN mini 19800',
  'X21-2274S+ZN',
  '1724S+ZN 2cicli',
  '2270S+ZN',
  nan,
  'X21-2099S+ZN mini'],
 '34': ['1724S+ZN 2cicli',
  '2270S+ZN',
  '4464S+ZN',
  '2270S+ZN mini',
  '1730S+ZN mini',
  nan,
  '4464S+ZN mini',
  'X21-2099S+ZN mini'],
 '35': ['7034ZN',
  'X23-2295S+ZN',
  '2275S+ZN-N00',
  '7036ZN',
  '2275S+ZN-B10A 11400',
  'X23-2280S+ZN',
  '2270S+ZN',
  nan,
  'ManilaZN1',
  'X22-2203S+ZN',
  '2275S+Z-N00 11400',
  'X21-2291ZF'],
 '36': ['1732DN1',
  '4423DN',
  'X23-7892DN mini',
  'X23-1299DN mini',
  '4402DN',
  '4423DN mini',
  '2270S+ZN',
  '4464S+ZN',
  'X21-2274S+ZN',
  'X21-4489V2S+ZN2',
  'X20-2222DN2 mini',
  '7032S+ZN',
  '4459DN 20700',
  nan,
  'X22-4408V2DF/SAND',
  '749DN mini',
  '2271DN 20700'],
 '37': ['13007ZN/F-14500',
  'S19-60052DN',
  nan,
  'X21-39599V7DN0333',
  '39502DN2',
  'X22-39503DN490',
  'X21-13097DN',
  '62002DN2',
  'S21-60083V3DN1',
  '62002DN',
  'X21-13093V2DN',
  '4414ZN',
  'S21-60082DNB',
  'S18-200014DN',
  'S17-100004DN',
  '13007Z',
  'S600A04DN',
  'S15-700002DN',
  'S17-60040DN',
  'S600A03DN',
  'S16-60015V2DN2',
  'S18-160044DN100',
  'S14-60005V2DN',
  '23504DN',
  'S19-60054DN',
  '33002DN',
  'S15-160018DN',
  '31004DN220379',
  'X21-39599V6DN',
  '31003DN220274',
  'S19-60064V3DN',
  'X21-20099DN2',
  'X21-20099DN1',
  'S19-60064V3DN-U427',
  'S19-60052DN-B8',
  'X22-2202S+ZN',
  'S16-60017V2DN-A2',
  'S21-60090DN100',
  'S19-60052DN-B9',
  '23504DN-VARI COLORI',
  'S14-60003V2DN 2gg',
  '28503ZN',
  '23504DN-5000',
  'S14-60003V2DN 23h',
  's22-700011DN',
  'X21-39599V7DN0332',
  'X24-39501V2DN 718'],
 '38': ['S14-60003V2DN 23h',
  'X21-39599V7DN0332',
  'S16-60015V2DN2',
  'X21-20099DN1',
  'X23-8397DN',
  'S20-60076V2DN',
  '31004DN220379 dm84',
  '13007ZN/F-14500',
  'X21-39599V7DN0333',
  'X21-20099DN2',
  '23504DN',
  '31003DN220274',
  'S21-60091V3DN   A230',
  'S19-60052DN2',
  '33001DN2',
  '2008DN',
  '28503ZN',
  'X17-20099ZN',
  '31004DN220379',
  '62002DN',
  '62001DN1',
  'S600A07DN',
  '4428ZN/F',
  'S18-200014DN',
  nan,
  '1725DN racc 230',
  '20098DN-VARI COL',
  'S16-60015V2DNA1'],
 '39': ['X21-39599V7DN0332',
  '62002DN',
  '23504DN-VARI COLORI',
  '62002DN2',
  '62001DN1',
  'X21-20098DN-VARI COL',
  '31002DN1',
  'X21-20099DN1',
  '23504DN-Q1724',
  '23504DN-5000',
  'X22-47001DN/SAND',
  '39502DN-14446',
  '39502DN-colori vari',
  '23504DN-Q7299',
  '33001DN2',
  'X23-4489DN',
  '1732DN1',
  '39502DN-61',
  '1725DN racc 230',
  nan,
  '23504DN-Q5143',
  'X20-2222DN2 mini',
  '23503DN-5000',
  '23504DN-Q7175',
  'X23-47097DN366',
  'X14-1707DN',
  '31003DN220274',
  '31004DN220379',
  '28503ZN',
  '23504DN',
  'X21-2268DN',
  '4462ZN2',
  '39501DN',
  '39502DN2',
  '20098DN-VARI COL',
  '62001DN2'],
 '40': ['31004DN220379 dm84',
  'X23-31094DN3813',
  'X21-39599V7DN0333',
  '31003DN220274 dm84',
  'X23-47097DN366',
  '23504DN-QZ890',
  nan,
  '23505DN2',
  '62002DN',
  '23504DN-5000',
  'X22-47001DN/SAND 230',
  '33002DN',
  '62002DN2',
  '4459DN 21500',
  '23504DN',
  'X21-20099DN2',
  '62001DN2',
  'S19-200021DN',
  'S17-100004DN',
  'S19-60064V3DN-U427',
  '31004DN220379',
  'X21-39599V7DN0332',
  'X22-47001DN/SAND',
  'S18-160044DN100',
  'X24-31001DN366',
  'X21-13097DN',
  'X21-20098DN-VARI COL',
  'S180001DN',
  '39502DN-colori vari',
  '1731DN',
  '31003DN220274',
  '2265ZN2',
  '39502DN2',
  'S20-60076V2DN',
  '28503ZN',
  'X21-13097DN-VARI COL',
  '31002DN1',
  'S300020DN',
  'S21-60090DN100',
  '62001DN1',
  '39501DN'],
 '41': ['31003DN220274',
  '23502DN-T0001',
  '31004DN220379',
  'S18-160040DN',
  '2011DN',
  '33002DN',
  '62001DN1',
  '33001DN2',
  '31002DN1',
  '62002DN',
  nan,
  'X21-13097DN'],
 '42': ['13007ZN/F-14500',
  '62001DN2',
  '62002DN2',
  '62001DN1',
  'X21-20099DN1',
  '39502DN-colori vari',
  'S21-500011DN',
  'S15-60008V3DN2',
  'S15-60008V2DN2',
  '20098DN-VARI COL',
  'X21-39599V7DN0333',
  'X21-39599V7DN0332',
  '62002DN',
  '39502DN-14446',
  '13005ZF-600gr',
  'X21-20099DN2',
  'S19-60064V3DN-U427',
  'X23-39597DN-114800',
  '23504DN-VARI COLORI',
  'X23-31094DN3813',
  '33001DN2',
  'X21-20098DN-VARI COL',
  'X23-47097DN1',
  '4414ZN',
  '2011DN',
  '28501DN',
  nan,
  '20098DN',
  '28503ZN',
  'X21-13097DN-VARI COL',
  '31003DN220274',
  '1731DN',
  '23504DN',
  '31002DN1',
  'X24-31001DN366',
  'X23-4489DN',
  '2254SN',
  '2265ZN2',
  '31004DN220379',
  'X23-47097DN366',
  '33002DN'],
 '43': ['13007ZF 903C 14000',
  '13005ZF-600gr',
  '4449ZN2',
  '13005ZF-14000',
  '13007ZN/F-14500',
  '28503ZN',
  '13005ZF 17600'],
 '44': ['2250SN',
  nan,
  '2265SN2',
  'X23-3399S+ZF',
  '2250ZN',
  '2246ZN 10800',
  '4424ZN/F',
  '2269ZN2',
  '10985ZF spole 880 gr',
  '1726S+ZN',
  'X22-4405SN',
  'X17-4495ZN',
  '2274ZN',
  'X22-4405S+ZN',
  '4463S+ZN1',
  'X22-4407ZN',
  '4428ZN/F',
  '2269ZF2',
  '11007SF 3 cicli',
  '2275S+ZN-N00',
  '7010ZF',
  '2246ZN 13500',
  '2246S+ZN',
  '4461SF'],
 '45': ['2202ZN/F 17200',
  'X22-2005V2ZN vari co',
  '2275S+ZN',
  'X22-7806S+ZN',
  '4403ZN',
  'X22-2209ZN',
  '7010ZF',
  '4412ZN',
  'X21-2291ZF',
  '7005ZN',
  '7036ZN',
  '4439ZN',
  '7008ZN',
  '2202ZF',
  '4428ZN/F',
  nan,
  '4415ZF',
  '2268S+ZN',
  '2279ZNB10A 11000',
  '2279ZN1 11000',
  'X22-7810S-ZN354 4 ci',
  '4412S+ZN',
  '2269ZN/F2',
  '7034ZN',
  '10353ZF',
  '4412SN'],
 '46': ['4439ZN',
  '2275S+ZN-N00',
  '2265ZN2',
  '4421ZN',
  '2279ZN1 13200',
  '2275S+ZN-B10A',
  'X21-2291ZF',
  nan,
  '2279ZNB10A 13200',
  '7036ZN',
  '2276S+ZN',
  'X22-4404ZN',
  '4445S+ZN',
  '4403ZN',
  '7034ZN',
  '2274ZN2',
  '2274ZN'],
 '47': ['2271DN 20700 mini',
  '2271DN 20000 mini',
  '4407DN',
  '2271DN 20700',
  '2011DN'],
 '48': ['2271DN 20700 mini', '2271DN 20700', '2011DN'],
 '49': ['749DN mini',
  '848DN',
  '2277DN mini',
  '4407DN',
  '4459DN 21500',
  '2277DN'],
 '50': ['2277DN mini',
  'X21-2284V2DN',
  '749DN mini',
  '2277DN',
  '4407DN',
  '848DN'],
 '51': ['X24-7802S+ZN',
  '11007SF 3 cicli',
  '2274ZN2',
  '4424ZN/F',
  'X20-2219ZF1 11gg',
  '2270S+ZN',
  '2236ZN',
  '2276S+ZN',
  '2275S+ZN-B10A',
  'X22-2203S+ZN',
  'X22-7810S-ZN354 4 ci',
  'X21-2291SF',
  'X23-4496V2ZN2 16000',
  'X23-4496V2ZN2',
  '1726S+ZN',
  '4412S+ZN',
  nan,
  '11007SF 2 cicli',
  '4412ZN',
  'X24-2202S+Z colorati',
  'X22-7806S+ZN',
  '2275S+ZN-B10A 11400',
  '2274ZN'],
 '52': ['X21-2291SF',
  '2276S+ZN',
  '4424SN',
  '4466S+ZN',
  '4424ZN/F',
  '2275S+ZN-B10A',
  '4424ZN',
  'X23-2288S+ZN 16000',
  'X18-4406V2SN',
  'X24-4401S+ZF2',
  nan,
  '4412ZN',
  '2274ZN2',
  'X24-2213ZN2',
  '2275S+ZN',
  '7010ZF',
  '4424S+ZN/F',
  '1706S+ZN',
  '2253ZN',
  '2218ZN',
  'X22-2211ZF1',
  'X21-1298S+ZN',
  '2275S+ZN-N00'],
 '53': ['X21-4480S+ZN',
  'X23-4496V2ZN2',
  '4464S+ZN',
  '1724S+ZN 2cicli',
  'X17-4495ZN',
  '2246SN',
  '2253ZN',
  'X16-2213ZN',
  '2275S+ZN-N00',
  '4464S+ZN mini',
  '2276S+ZN',
  nan,
  '7036ZN',
  '2265ZN2',
  '2275S+ZN-B10A',
  '2270S+ZN',
  '1724S+ZN'],
 '54': ['2275S+ZN-B10A',
  'X21-1298S+ZN',
  nan,
  '2270S+ZN',
  'X21-4480S+ZN',
  'X24-2201S+ZN',
  'X24-1701S+ZN',
  '1726S+ZN',
  'X23-2280S+ZN',
  '1283SN',
  '2013S+ZN mini',
  '4464S+ZN mini',
  'X21-2291ZF',
  'X21-2291SF'],
 '55': ['X23-2280S+ZN',
  'X24-1301V2S+ZN mini',
  '2013S+ZN mini',
  '2275S+ZN-B10A',
  '10369ZF2',
  '4463S+ZN1',
  '4426ZN2',
  'X11-1798S+ZN',
  '2275S+ZN-N00',
  '2276S+ZN',
  'X14-7801SN2',
  '7010ZF',
  '2266S+ZN',
  nan,
  '4439ZN',
  '4450ZN',
  '2275S+ZN',
  'X21-4489V2S+ZN2',
  '2261S+ZN',
  '4414ZN',
  'X23-2282S+ZN',
  'X21-4496S+ZN',
  '2246ZN 13500',
  '2270S+ZN'],
 '56': ['2013S+ZN mini',
  '2250ZN',
  '2250SN',
  'X24-1301V2S+ZN mini',
  'X21-2291SF',
  '4465SN1',
  '2250S+ZN',
  '2012S+ZN',
  '2236ZN',
  nan,
  '2013S+ZN',
  '4439ZN',
  'X23-6198ZN cr.295 gr',
  '7008ZN',
  '7005ZF2',
  'X23-2299V5ZF',
  '4428ZN/F'],
 '57': ['2013S+ZN',
  '4424ZN/F',
  '1724S+ZN 2cicli',
  '2236ZN',
  '4424ZF',
  '4415ZN',
  'X21-2279S+ZN',
  'X23-4493S+ZF',
  '4465SN1',
  '2254ZN',
  'X22-2209ZN',
  '2218ZN',
  'X23-2280S+ZN',
  '4424S+ZN/F',
  '4463S+ZN1',
  nan,
  '4449S+ZN',
  'X23-2282S+ZN',
  '2012S+ZN'],
 '58': ['X23-4496V2ZN2',
  '2276S+ZN',
  'X22-2209ZN',
  nan,
  '4428ZN/F',
  '11007SF 2 cicli',
  '4463S+ZN1',
  '2279ZNB10A 14000',
  '2275S+Z-N00 11400',
  '2274ZN2',
  'X18-2208ZN2',
  '2274ZN2015',
  'X23-4499S+ZN',
  '1283SN',
  '2254ZN-11000',
  'X22-2211ZF1',
  '2211ZF',
  '1283S+ZN',
  '4424ZN/F',
  'X21-2283S-ZN1',
  '2269ZN2',
  '2202ZN',
  '2275S+ZN-B10A',
  'X23-2279ZF',
  'X22-2202S+ZN',
  '2254ZN-11400',
  '2275S+ZN-B10A 11400'],
 '59': ['2276S+ZN',
  '2275S+ZN-N00',
  'X22-2005V2ZN1',
  '2270S+ZN mini',
  '2246ZN 13500',
  '2275S+ZN-B10A',
  '2254S+ZN',
  '2270S+ZN',
  '7005ZF',
  'X18-4406V2SN',
  '4466ZN1',
  'X24-7802S+ZN',
  '10996SN',
  '2202ZN/F 17200',
  nan,
  '4450ZN',
  '4426ZN2',
  '4466S+ZN',
  '4466SN1'],
 '60': ['X23-2279ZF',
  'X24-7802S+ZN',
  nan,
  '1730S+ZN mini',
  '2276S+ZN',
  '10985ZF spole 880 gr',
  'X22-7806S+ZN',
  'X24-2001S+ZN',
  '2273S+Z',
  'X23-4499S+ZN',
  '4428ZN/F',
  '4414ZN',
  '2013S+ZN mini',
  'X24-2213ZN2',
  '2218ZN',
  '2270S+ZN',
  '2250SN',
  '4406ZN'],
 '61': ['2271DN 20700',
  '2277DN',
  '4407DN',
  '2271DN 20700 mini',
  '2277DN mini'],
 '62': ['2011DN',
  '749DN mini',
  '2011DN mini',
  '2271DN 20700',
  '2271DN 20700 mini'],
 '63': ['2011DN mini',
  '2271DN 20700 mini',
  '2271DN 22000',
  '2011DN',
  '2271DN 20700'],
 '64': ['2271DN 20700 mini',
  '2011DN',
  '2267S+ZN',
  '2271DN 20700',
  '749DN mini',
  '2011DN mini'],
 '65': ['X23-7892DN mini',
  '749DN mini',
  '4407DN',
  '2011DN mini',
  'X21-4481DN',
  '2271DN 20700 mini'],
 '66': ['2277DN', '749DN mini', '2277DN mini', '2271DN 20700 mini', '4407DN'],
 '67': ['X23-4491DF366',
  'X23-4491DF1',
  '33001DN2',
  '1283SN',
  nan,
  'X21-15696V7DN',
  'S21-60083DN',
  '31002DN1',
  '20099ZF',
  '7035DN1',
  '4423DN mini',
  'X22-7801DN',
  'X20-2219ZF1',
  'X21-1299S+ZN',
  'X21-15696V8DN',
  'X24-4403DN',
  '15613DN1',
  'X21-2278V4DN'],
 '68': ['S21-60083DN',
  'S18-200014DN',
  '2011DN',
  'X22-2005V2ZN2100',
  'S18-160044DN100',
  '13007Z',
  '2277DN',
  'X21-15696V8DN',
  'X23-4491DF1',
  '4459DN 20700',
  'X22-7801DN',
  'X24-31201DN2',
  nan,
  'X22-4408V2DF/SAND',
  '1731DN 5cicli',
  'X21-20098DN-VARI COL',
  'X23-4491DF366',
  'S19-60064V3DN',
  'S19-60064V3DN-U427',
  'X21-13097DN-VARI COL',
  '15613DN1',
  '1725DN',
  '1731DN',
  'S21-60083V2DN',
  '4407DN'],
 '69': ['X21-2268DN minispole',
  'X21-2268DN',
  '7035DN1',
  'X22-7801DN',
  '15611DN',
  '1301ZN',
  'S18-60042V2DN',
  'S600A16ZN100',
  '15613DN1',
  '2277DN',
  'X22-2005V2ZN1',
  'X21-15696V8DN',
  'X21-20099DN2',
  'S21-100011DN100 A230',
  'X20-2219ZF1',
  '2270S+ZN',
  '2221ZN',
  '13007Z',
  'S19-60064V3DN-U427',
  '1731DN',
  nan],
 '70': ['2275S+ZN-B10A',
  '2246ZN 13500',
  '2279ZNB10A 13200',
  '1724S+ZN 2cicli',
  '4461SF',
  '2279ZNB10A 14000',
  '4463S+ZN1',
  '2274ZN2',
  'X22-2203S+ZN',
  '2254S+ZN',
  '4424ZN/F',
  '7036ZN',
  '4415ZN',
  '7034ZN',
  nan,
  '2274ZN',
  '2275S+ZN-N00',
  'X23-7899ZN',
  '1726S+ZN',
  'X23-2299V5ZF',
  '2202ZN',
  '2269ZN/F2',
  'X21-4489V3S+ZN',
  'X22-7810S-ZN354 4 ci'],
 '71': ['X22-2211ZF1',
  '1726S+ZN',
  '7036ZN',
  '4462ZN1',
  'X24-2212ZF',
  '2279ZN1 11000',
  '2279ZNB10A 13200',
  'X23-2299V5ZF',
  '4450ZN',
  'X23-7899V2ZN',
  '4424ZN/F',
  '1724S+ZN 2cicli',
  '11008ZF',
  'X22-7806S+ZN',
  nan,
  '7010ZF',
  'X22-4405ZN',
  '2275S+ZN-N00',
  'X21-1298S+ZN'],
 '72': ['11008ZF',
  '2254S+ZN',
  'X23-4499S+ZN',
  'X24-4401ZF',
  'X23-4496V2ZN2 16000',
  '4412S+ZN',
  '10996SN',
  nan,
  '2254ZN',
  '2278ZN1',
  '7036ZN',
  '7032S+ZN',
  '4462ZN2',
  '4465SN1',
  'X18-4406V2SN',
  'X23-2295S+ZN',
  '2254SN',
  'X23-4496V2ZN2',
  '4412ZN',
  '2276S+ZN',
  '7010ZF',
  'X18-2208SN1+SN2',
  'X23-2299V5ZF',
  '4439ZN',
  '4424ZN',
  'X18-2208SN',
  '2275S+ZN-B10A',
  'X23-2279ZF'],
 '73': ['94003DN-2000',
  'S18-200017DN2',
  'S600A14DN',
  '94003DN-5000',
  '94003DN-Q7299'],
 '74': ['31004DN220379',
  'S19-160046DNcol.vari',
  'X22-39503DN490',
  '23504DN-Q7299',
  '94003DN-Q7299',
  'X23-39598DN',
  'X23-39598DN2999',
  'S18-160040DN',
  '39502DN-14446',
  '94003DN-5000',
  '94003DN-Q7175',
  'S14-60003V2DN 23h',
  '94003DN-QZ890',
  '23505DN2',
  '39502DN2',
  'X24-7801ZN2',
  nan,
  '2008DN',
  'X24-4401ZF',
  'S18-200014DN'],
 '75': ['X21-2291ZF',
  'X23-2288S+ZN',
  '4462ZN2',
  'X23-2299ZF',
  'X22-7806S+ZN',
  '4463S+ZN1',
  '2236ZN',
  'X22-2203S+ZN',
  '2275S+ZN-B10A',
  '2263S+ZN',
  'X22-2005V2ZN vari co',
  'X22-2211ZF1',
  '4457ZN2',
  'X21-2291S+ZF',
  'X18-4406V2SN',
  '2276S+ZN',
  'X24-15601S+ZF colora',
  'X24-1301V2S+ZN mini',
  'X23-1399ZN2',
  '4406ZN',
  'X23-7897ZN-2310',
  'X22-4404ZN',
  'X24-2213ZN2',
  'X18-2203ZF2',
  'X24-15601S+Z',
  '10985ZF spole 880 gr',
  'X23-3398V2S+ZN',
  'X22-2005ZNV2-3248',
  'X23-2299V3ZF',
  '2268S+ZN',
  'X21-2291SF'],
 '76': ['848DN mini', '848DN'],
 '77': ['848DN mini', '848DN']}

### macchina : {caratteristiche}

In [ ]:
groups_filename = "input/Gruppi_Macchine_per_articoli.json"
with open(groups_filename, 'r') as f:
    groups_file = json.load(f)

divisione = groups_file['Divisione per articoli prodotti']
divisione.keys()

# elimina sottogruppi
groups = {}

for key, group_dict in divisione.items():
    if key + 'a' in group_dict.keys():
        groups[key + 'a'] = group_dict[key + 'a']
    if key + 'c' in group_dict.keys():
        groups[key + 'c'] = group_dict[key + 'c']
    if key + 'b' in group_dict.keys():
        groups[key + 'b'] = group_dict[key + 'b']
    else:
        groups[key] = group_dict

print(groups.keys())

# Dizionario con Macchine e relative informazioni
data_dict = {}

for classe, group in groups.items():
    print(classe)
    n_fusi = group.pop('Numero Fusi')
    
    for mode, mode_dict in group.items():
        descrizione = mode_dict.pop('Descrizione')
        macchine = mode_dict.pop('Macchine')

        for m in macchine:
            data_dict[m] = {
                'classe': classe,
                'n_fusi': n_fusi,
                'mode': mode,
                'descrizione': descrizione
            }

data_dict = dict(sorted(data_dict.items(), key=lambda x: x[0]))

with open('utils/macchine_info.json', 'w') as f:
    json.dump(data_dict, f, indent=4)

dict_keys(['Gruppo1a', 'Gruppo1b', 'Gruppo2', 'Gruppo3a', 'Gruppo3b', 'Gruppo4a', 'Gruppo4b', 'Gruppo5a', 'Gruppo5c', 'Gruppo5b', 'Gruppo6'])
Gruppo1a
Gruppo1b
Gruppo2
Gruppo3a
Gruppo3b
Gruppo4a
Gruppo4b
Gruppo5a
Gruppo5c
Gruppo5b
Gruppo6

Mancano macchine 73, 74, 75!

In [ ]:
macchine_articoli = json.load(open('utils/macchine_articoli.json'))
macchine_info = json.load(open('utils/macchine_info.json'))

for key in macchine_articoli.keys():
    if key in macchine_info:
        macchine_info[key].update({
            'articoli': macchine_articoli[key]
        })

with open('utils/macchine_info.json', 'w') as f:
    json.dump(macchine_info, f, indent=4)